	 <aside>
      <ul>
        <li class="about-intro"><%= link_to t("about_side_menu.intro"), page_pages_path("about-intro") %></li>
        <li class="about-history"><%= link_to t("about_side_menu.history"), page_pages_path("about-history") %></li>
        <li class="about-concept"><%= link_to t("about_side_menu.concept"), page_pages_path("about-concept") %></li>
        <li class="about-responsibility"><%= link_to t("about_side_menu.responsibility"), page_pages_path("about-responsibility") %></li>
        
        <li class="about-product-1"><%= link_to t("about_side_menu.product-1"), page_pages_path("about-product-1") %></li>
        <li class="about-evolve"><%= link_to t("about_side_menu.evolve"), page_pages_path("about-evolve") %></li>
        <li class="about-superiority"><%= link_to t("about_side_menu.superiority"), page_pages_path("about-superiority") %></li>
        <li class="about-operating-1"><%= link_to t("about_side_menu.operating-1"), page_pages_path("about-operating-1") %></li>
        <li class="about-organization"><%= link_to t("about_side_menu.organization"), page_pages_path("about-organization") %></li>
        <li class="about-group"><%= link_to t("about_side_menu.group"), page_pages_path("about-group") %></li>
      </ul>
    </aside>
    
    <script type="text/javascript">
    	var pageName = window.location.href.split('/');
			if ( pageName ) {
					$('.' + pageName[pageName.length -1 ]+'' ).addClass('active');	
			}
    </script>