
		<aside>
      <ul>
			<li><a href="<%= page_pages_path("guanyin3c-intro") %>" class="guanyin3c-intro" ><%= t("plant.guanyin3c_intro") %></a></li>
			<li><a href="<%= page_pages_path("guanyin3c-certification") %>" class="guanyin3c-certification" data-no-turbolink="true" ><%= t("plant.guanyin3c_certification") %></a></li>
			<li><a href="<%= page_pages_path("guanyin3c-superiority") %>" class="guanyin3c-superiority" ><%= t("plant.guanyin3c_superiority") %></a></li>
			<li><a href="<%= page_pages_path("guanyin3c-research") %>" class="guanyin3c-research" ><%= t("plant.guanyin3c_research") %></a></li>
			<li><a href="<%= page_pages_path("guanyin3c-technology") %>" class="guanyin3c-technology" ><%= t("plant.guanyin3c_technology") %></a></li>
			<li><a href="<%= page_pages_path("guanyin3c-catalogs") %>" class="guanyin3c-catalogs" ><%= t("plant.guanyin3c_catalogs") %></a></li>
			<li><a href="<%= page_pages_path("guanyin3c-use") %>" class="guanyin3c-use" ><%= t("plant.guanyin3c_use") %></a></li>
			<li><a href="<%= page_pages_path("guanyin3c-consulting") %>" class="guanyin3c-consulting" ><%= t("plant.guanyin3c_consulting") %></a></li>
      </ul>
    </aside>
        
    <script type="text/javascript">
    	var pageName = window.location.href.split('/');
			if ( pageName ) {
					$('.' + pageName[pageName.length -1 ]+'' ).parent().addClass('active');	
					plant = pageName[pageName.length -1 ].split('-');
					if ( plant ) {
							$('.' + plant[0]+'-intro-nav' ).addClass('active');		
					}
					
			}
    </script>
    