    	<nav>
      <div class="main"> 
      	<%= link_to t("plant.guanyin_title"), page_pages_path("guanyin-intro"), class: "guanyin-intro-nav" %>
      	<%= link_to t("plant.guanyin3c_title"), page_pages_path("guanyin3c-intro"), class: "guanyin3c-intro-nav" %>
      	<%= link_to t("plant.jiangcorp_title"), page_pages_path("jiangcorp-intro"), class: "jiangcorp-intro-nav" %>
      	<%= link_to t("plant.copper_title"), page_pages_path("copper-intro"), class: "copper-intro-nav" %>
				<%= link_to t("plant.hsinchu_title"), page_pages_path("hsinchu-intro"), class: "hsinchu-intro-nav" %>
      	<%= link_to t("plant.resin_title"), page_pages_path("resin-intro"), class: "resin-intro-nav" %>
      </div>
    </nav>