		<aside>
      <ul>
			<li><a href="<%= page_pages_path("resin-intro") %>" class="resin-intro" ><%= t("plant.resin_intro") %></a></li>
			<li><a href="<%= page_pages_path("resin-certification") %>" class="resin-certification" data-no-turbolink="true" ><%= t("plant.resin_certification") %></a></li>
			<li><a href="<%= page_pages_path("resin-superiority") %>" class="resin-superiority" ><%= t("plant.resin_superiority") %></a></li>
			<li><a href="<%= page_pages_path("resin-research") %>" class="resin-research" ><%= t("plant.resin_research") %></a></li>
			<li><a href="<%= page_pages_path("resin-catalogs") %>" class="resin-catalogs" ><%= t("plant.resin_catalogs") %></a></li>
			<li><a href="<%= page_pages_path("resin-quality") %>" class="resin-quality" ><%= t("plant.resin_quality") %></a></li>
			<li><a href="<%= page_pages_path("resin-equipment") %>" class="resin-equipment" ><%= t("plant.resin_equipment") %></a></li>
			<li><a href="<%= page_pages_path("resin-use") %>" class="resin-use" ><%= t("plant.resin_use") %></a></li>
			<li><a href="<%= page_pages_path("resin-consulting") %>" class="resin-consulting" ><%= t("plant.resin_consulting") %></a></li>
      </ul>
    </aside>
        
    <script type="text/javascript">
    	var pageName = window.location.href.split('/');
			if ( pageName ) {
					$('.' + pageName[pageName.length -1 ]+'' ).parent().addClass('active');	
					plant = pageName[pageName.length -1 ].split('-');
					if ( plant ) {
							$('.' + plant[0]+'-intro-nav' ).addClass('active');		
					}
					
			}
    </script>
    