<link rel="stylesheet" href="/css/front/about.css">
<style>
article aside ul li.active > a { background-image: url(<%= t("env.img_url.ab-03hh") %>) }
article h2{background:url(<%= t("env.img_url.ab-01") %>) center 0 no-repeat}
</style>
 <article>
    <h2>關於台一</h2>
    <aside>
      <ul>
	      <li class="about-intro"><%= link_to t("about_side_menu.intro"), page_pages_path("about-intro") %></li>
        <li class="about-history"><%= link_to t("about_side_menu.history"), page_pages_path("about-history") %></li>
        <li class="about-concept"><%= link_to t("about_side_menu.concept"), page_pages_path("about-concept") %></li>
        <li class="about-responsibility"><%= link_to t("about_side_menu.responsibility"), page_pages_path("about-responsibility") %></li>
        <li class="active"><a><%=t("about-product-1.nav_main_product")%></a>
          <div class="sub">
	          <%= link_to t("about-product-1.nav_main_product_1"), page_pages_path("about-product-1") %>
            <%= link_to t("about-product-1.nav_main_product_6"), page_pages_path("about-product-6") %>
            <%= link_to t("about-product-1.nav_main_product_5"), page_pages_path("about-product-5"), class: "active" %> 
            <%= link_to t("about-product-1.nav_main_product_3"), page_pages_path("about-product-3") %> 
            <%= link_to t("about-product-1.nav_main_product_2"), page_pages_path("about-product-2") %> 
            <%= link_to t("about-product-1.nav_main_product_4"), page_pages_path("about-product-4") %>
          </div>
        </li>
        </li>
        <li class="about-evolve"><%= link_to t("about_side_menu.evolve"), page_pages_path("about-evolve") %></li>
        <li class="about-superiority"><%= link_to t("about_side_menu.superiority"), page_pages_path("about-superiority") %></li>
        <li class="about-operating-1"><%= link_to t("about_side_menu.operating-1"), page_pages_path("about-operating-1") %></li>
        <li class="about-organization"><%= link_to t("about_side_menu.organization"), page_pages_path("about-organization") %></li>
        <!--li class="about-group"><%= link_to t("about_side_menu.group"), page_pages_path("about-group") %></li-->
	    </ul>
    </aside>

    <section>
      <h3><%=t("about-product-3.main_title")%></h3>
      <div class="content">
      <img src="<%= t("env.img_url.ab-14") %>"> </div>
    </section>
  </article>
