<link rel="stylesheet" href="/css/front/about.css">
<style>
article aside ul li.active > a { background:url(/css/images/ab-03hh.png) 30px 19px no-repeat,url(/css/images/ab-02h.png) 0 0/100% 100% no-repeat; }
article section .content {
  padding:0 0 20px 55px
}
article section .content b, article section .content a {
  color:#1980b6;
  font-size:1em;
}
article h2 {
background:url(<%= t("env.img_url.ab-01") %>) center 0 no-repeat
}
</style>
<article>
<h2>關於台一</h2>
<aside>
  <ul>
    <li class="about-intro"><%= link_to t("about_side_menu.intro"), page_pages_path("about-intro") %></li>
    <li class="about-history"><%= link_to t("about_side_menu.history"), page_pages_path("about-history") %></li>
    <li class="about-concept"><%= link_to t("about_side_menu.concept"), page_pages_path("about-concept") %></li>
    <li class="about-interested active"><%= link_to t("about_side_menu.responsibility"), page_pages_path("about-interested") %>
      <div class="sub"> 
      
      <%= link_to t("about_side_menu.sustainability"), page_pages_path("about-responsibility") %> 
      <%= link_to t("about_side_menu.interested"), page_pages_path("about-interested"),class: "active" %> 
      </div>
    </li>
    <li><%= link_to t("about-product-1.nav_main_product"), page_pages_path("about-product-1") %> </li>
    </li>
    <li class="about-evolve"><%= link_to t("about_side_menu.evolve"), page_pages_path("about-evolve") %></li>
    <li class="about-superiority"><%= link_to t("about_side_menu.superiority"), page_pages_path("about-superiority") %></li>
    <li class="about-operating-1"><%= link_to t("about_side_menu.operating-1"), page_pages_path("about-operating-1") %></li>
    <li class="about-organization"><%= link_to t("about_side_menu.organization"), page_pages_path("about-organization") %></li>
    <!--li class="about-group"><%= link_to t("about_side_menu.group"), page_pages_path("about-group") %></li-->
  </ul>
</aside>
<section>
  <h3><%=t("about-interested.main_title")%></h3>
  <h4><%=t("about-interested.title_1")%></h4>
  <div class="content">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="3%" valign="top"><span><img src="<%= t("env.img_url.ab-17") %>"></span></td>
        <td width="97%" valign="top"><%=t("about-interested.content_1_1")%></td>
      </tr>
      <tr>
        <td valign="top"><span><img src="<%= t("env.img_url.ab-17") %>"></span></td>
        <td valign="top"><%=t("about-interested.content_1_2")%></td>
      </tr>
      <tr>
        <td valign="top"><span><img src="<%= t("env.img_url.ab-17") %>"></span></td>
        <td valign="top"><%=t("about-interested.content_1_3")%></td>
      </tr>
    </table>
  </div>
  <h4><%=t("about-interested.title_2")%></h4>
  <div class="content"> <%=t("about-interested.content_2")%> </div>
  <h4><%=t("about-interested.title_3")%></h4>
  <div class="content">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="3%" valign="top"><span><img src="<%= t("env.img_url.ab-17") %>"></span></td>
        <td width="97%" valign="top"><%=t("about-interested.content_3_1")%></td>
      </tr>
      <tr>
        <td valign="top"><span><img src="<%= t("env.img_url.ab-17") %>"></span></td>
        <td valign="top"><%=t("about-interested.content_3_2")%></td>
      </tr>
      <tr>
        <td valign="top"><span><img src="<%= t("env.img_url.ab-17") %>"></span></td>
        <td valign="top"><%=t("about-interested.content_3_3")%></td>
      </tr>
      <tr>
        <td valign="top"><span><img src="<%= t("env.img_url.ab-17") %>"></span></td>
        <td valign="top"><%=t("about-interested.content_3_4")%></td>
      </tr>
      <tr>
        <td valign="top"><span><img src="<%= t("env.img_url.ab-17") %>"></span></td>
        <td valign="top"><%=t("about-interested.content_3_5")%></td>
      </tr>
    </table>
  </div>
  <h4><%=t("about-interested.title_4")%></h4>
  <div class="content">
   <%=simple_format(t("about-interested.content_4"))%>
  </div>
  <h4><%=t("about-interested.title_5")%></h4>
  <div class="content"> <img src="<%= t("env.img_url.ab-27") %>" style="margin:30px">
    <%=simple_format(t("about-interested.content_5_1"))%>
    <img src="<%= t("env.img_url.ab-28") %>" style="margin:30px 0 30px 120px">
    <%=simple_format(t("about-interested.content_5_2"))%>
  </div>
</section>
</article>
