<link rel="stylesheet" href="/css/front/about.css">
<style>
article aside ul li.active > a { background:url(/css/images/ab-03hh.png) 30px 19px no-repeat,url(/css/images/ab-02h.png) 0 0/100% 100% no-repeat; }
article section { background: url(<%= t("env.img_url.ab-08") %>) 55px 200px no-repeat #F6F6F3; height: 1330px }
#box-1 { top: 155px; left: 185px; width: 540px }
#box-2 { top: 520px; left: 380px; width: 340px }
#box-3 { top: 885px; left: 380px; width: 340px }
article .item{position:absolute;left:0;bottom:0;z-index:2}
article h2{background:url(<%= t("env.img_url.ab-01") %>) center 0 no-repeat}
</style>
<article>
    <h2>關於台一</h2>
    <div class="item"><img src="<%= t("env.img_url.ab-09") %>"></div>
    	<aside>
      <ul>
        <li class="about-intro"><%= link_to t("about_side_menu.intro"), page_pages_path("about-intro") %></li>
        <li class="about-history"><%= link_to t("about_side_menu.history"), page_pages_path("about-history") %></li>
        <li class="about-concept"><%= link_to t("about_side_menu.concept"), page_pages_path("about-concept") %></li>
        <li class="about-responsibility active"><%= link_to t("about_side_menu.responsibility"), page_pages_path("about-interested") %>
          <div class="sub">
            
            <%= link_to t("about_side_menu.sustainability"), page_pages_path("about-responsibility"),class: "active" %>
            <%= link_to t("about_side_menu.interested"), page_pages_path("about-interested") %>
          </div>
        </li>
        <li><%= link_to t("about-product-1.nav_main_product"), page_pages_path("about-product-1") %>
        </li>
        </li>
        <li class="about-evolve"><%= link_to t("about_side_menu.evolve"), page_pages_path("about-evolve") %></li>
        <li class="about-superiority"><%= link_to t("about_side_menu.superiority"), page_pages_path("about-superiority") %></li>
        <li class="about-operating-1"><%= link_to t("about_side_menu.operating-1"), page_pages_path("about-operating-1") %></li>
        <li class="about-organization"><%= link_to t("about_side_menu.organization"), page_pages_path("about-organization") %></li>
        <!--li class="about-group"><%= link_to t("about_side_menu.group"), page_pages_path("about-group") %></li-->
      </ul>
    </aside>
     <section>
      <h3><%=t("about-responsibility.main_title")%></h3>
      <div class="box" id="box-1"> <b><%=t("about-responsibility.title_one")%></b><br>
        <br>
        <%= simple_format(t("about-responsibility.title_one_content"))%>
      </div>
      <div class="box" id="box-2"> <b><%=t("about-responsibility.title_two")%></b><br>
        <br>
        <%= simple_format(t("about-responsibility.title_two_content"))%>
        </div>
      <div class="box" id="box-3"> <b><%=t("about-responsibility.title_three")%></b><br>
        <br>
        <%= simple_format(t("about-responsibility.title_three_content"))%>
      </div>
    </section>
  </article>

