<link rel="stylesheet" href="/css/front/about.css">
<style>
article section .content { padding: 0 0 80px 55px }
article h2{background:url(<%= t("env.img_url.ab-01") %>) center 0 no-repeat}
</style>
<article>
    <h2>關於台一</h2>
  	<%= render "about_sidemenu" %>
	  <section>
      <h3><%=t("about-superiority.main_title")%></h3>
      <h4><%=t("about-superiority.title_one")%></h4>
      <div class="content">
        <p><%=t("about-superiority.title_one_content")%></p>
      </div>
      <h4><%=t("about-superiority.title_two")%></h4>
      <div class="content">
        <p><%=t("about-superiority.title_two_content")%></p>
      </div>
      <h4><%=t("about-superiority.title_three")%></h4>
      <div class="content">
        <p><%=t("about-superiority.title_three_content")%></p>
      </div>
      <h4><%=t("about-superiority.title_four")%></h4>
      <div class="content">
        <p><%=t("about-superiority.title_four_content")%></p>
      </div>
      <h4><%=t("about-superiority.title_five")%></h4>
      <div class="content">
        <p><%=t("about-superiority.title_five_content")%></p>
      </div>
      <h4><%=t("about-superiority.title_six")%></h4>
      <div class="content">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="3%" valign="top"><span><img src="<%= t("env.img_url.ab-17") %>"></span></td>
            <td width="97%" valign="top"><%=simple_format( t("about-superiority.title_six_list_1") )%></td>
          </tr>
          <tr>
            <td valign="top"><span><img src="<%= t("env.img_url.ab-17") %>"></span></td>
            <td valign="top"><%=simple_format( t("about-superiority.title_six_list_2") )%></td>
          </tr>
          <tr>
            <td valign="top"><span><img src="<%= t("env.img_url.ab-17") %>"></span></td>
            <td valign="top"><%=simple_format( t("about-superiority.title_six_list_3") )%></td>
          </tr>
          <tr>
            <td valign="top"><span><img src="<%= t("env.img_url.ab-17") %>"></span></td>
            <td valign="top"><%=simple_format( t("about-superiority.title_six_list_4") )%></td>
          </tr>
          <tr>
            <td valign="top"><span><img src="<%= t("env.img_url.ab-17") %>"></span></td>
            <td valign="top"><%=simple_format( t("about-superiority.title_six_list_5") )%></td>
          </tr>
        </table>
      </div>
    </section>
  </article>
