<link rel="stylesheet" href="/css/front/about.css">
<style>
article h2{background:url(<%= t("env.img_url.ab-01") %>) center 0 no-repeat}
article section{
  background:url(/css/images/bg-1.png) center 90% no-repeat #F6F6F3;
  padding-bottom: 230px;
}
</style>
<article>
    <h2>關於台一</h2>
    <%= render "about_sidemenu" %>
    <section>
      <h3><%=t("about-concept.title_one")%></h3>
      <div class="content">
      <p>
      	<%=simple_format(t("about-concept.title_one_content"))%> 
      </p>
      </div>
      <h3><%=t("about-concept.title_two")%></h3>
      <div class="content">
      <p>
	      <%=t("about-concept.title_two_content")%>
      </p>
      </div>
      <h3><%=t("about-concept.title_three")%></h3>
      <div class="content">
      <p>
	      <%=simple_format(t("about-concept.title_three_content")) %>
      </p>
      </div>      
    </section>
  </article>