<link rel="stylesheet" href="/css/front/center.css">
<article>
    <h2>聯合國物資採購監管中心臺灣中心介紹</h2>
    <section>
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          	<td>
	          		  <p><%= simple_format( t("center.main_title") )%></p>
	          		<br>
	          </td>
        </tr>
        
        <tr>
          <td><img src="<%= t("env.img_url.ct-02") %>"></td>
        </tr>
        
        <tr>
          <td><img src="<%= t("env.img_url.ct-03") %>"></td>
        </tr>
        
        <tr>
          <td>
          	<br>
          			<h3><%= t("center.title_1") %></h3>
          			<br>
			            <div id="note">
			              <table width="100%" border="0" cellspacing="0" cellpadding="0">
			                <tr>
			  
			                  <td width="54%" valign="top">
				                  <%= simple_format( t("center.title_1_content_1"), {}, wrapper_tag: "div" )%>
			                  </td>
			                  
			                  <td width="46%" valign="top">
					                  <%= simple_format( t("center.title_1_content_2"), {}, wrapper_tag: "div" )%>
					                  
					                  <br><br><br><br><br><br><br><br><br><br><br><br><br>
					                  <span>
					                  		<%= t("center.title_1_content_3") %>
					                  		<a href="http://unmpcctw-2014140108.weebly.com/" target="_blank"><%= t("center.title_1_content_4") %></a>
					                  </span>                  
			                  </td>
			                
			                </tr>
			              </table>
			            </div>
           </td>
        </tr>
        
      </table>
    </section>
  </article>
