<link rel="stylesheet" href="/css/front/center.css">
<style>
article h2 {
background:url(<%= t("env.img_url.ct-01") %>) center 0 no-repeat
}
</style>
<article>
<ul>
  <li><a href="#paper-5"><img src="/css/images/ct-20.jpg"></a></li>
  <li><a href="#paper-3"><img src="/css/images/ct-18.jpg"></a></li>
  <li><a href="#paper-1"><img src="/css/images/ct-16.jpg"></a></li>
  <li><a href="#paper-2"><img src="/css/images/ct-17.jpg"></a></li>
  
  <li><a href="#paper-4"><img src="/css/images/ct-19.jpg"></a></li>
  
</ul>
<h2>合作機構</h2>
<section>
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr id="paper-5">
      <td valign="top"><h3><%=t("center.title_5")%></h3></td>
      <td valign="top"><img src="/css/images/ct-13.jpg"><br>
        <img src="/css/images/ct-14.jpg"><br>
        <br>
        <%=simple_format(t("center.content_1"))%>
        <table>
          <tr>
            <td width="75%"><%=t("center.content_2")%><a href="http://unmpcctw-2014140108.weebly.com/" target="_blank"><%=t("center.content_3")%></a></td>
            <td><img src="/css/images/ct-15.jpg" style="box-shadow:none"></td>
          </tr>
        </table></td>
    </tr>
    <tr id="paper-3">
      <td valign="top"><h3><%=t("center.title_3")%></h3></td>
      <td valign="top"><img src="/css/images/ct-10.jpg"><br>
        <img src="/css/images/ct-11.jpg"></td>
    </tr>
    <tr id="paper-1">
      <td valign="top" width="38%"><h3><%=t("center.title_1")%></h3></td>
      <td valign="top" width="62%"><img src="/css/images/ct-08.jpg"></td>
    </tr>
    <tr id="paper-2">
      <td valign="top"><h3><%=t("center.title_2")%></h3></td>
      <td valign="top"><img src="/css/images/ct-09.jpg"></td>
    </tr>
    
    <tr id="paper-4">
      <td valign="top"><h3><%=t("center.title_4")%></h3></td>
      <td valign="top"><img src="/css/images/ct-12.jpg"></td>
    </tr>
    
  </table>
</section>
</article>
