<link rel="stylesheet" href="/css/front/plant-2.css">
<style>
article h2{background:url(<%= t("env.h2images.cp") %>) center 0 no-repeat}
</style>
 <article>
    <h2>觀音廠電線電纜事業介紹</h2>
    <%= render "plant_sidemenu" %>
    <%= render "copper_sidemenu" %>
    <section>

      <h3><%=t("copper-intro.main_title")%></h3>
      <div class="content">
        <%=simple_format( t("copper-intro.main_desc") )%>
        <br><br>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="center"><img src="<%= t("env.img_url.jc-02") %>"></td>
          </tr>
        </table>
      </div>
      <div class="content" style="color:#095368">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="4%" valign="top"><span><img src="<%= t("env.img_url.ab-17") %>"></span></td>
            <td width="11%" valign="top"><%=t("copper-intro.title_one")%></td>
            <td width="85%" valign="top"><%=t("copper-intro.title_one_content")%></td>
          </tr>
          <tr>
            <td valign="top"><span><img src="<%= t("env.img_url.ab-17") %>"></span></td>
            <td valign="top"><%=t("copper-intro.title_two")%></td>
            <td valign="top"><%=t("copper-intro.title_two_content")%></td>
          </tr>
          <tr>
            <td valign="top"><span><img src="<%= t("env.img_url.ab-17") %>"></span></td>
            <td valign="top"><%=t("copper-intro.title_three")%></td>
            <td valign="top"><%=t("copper-intro.title_three_content")%></td>
          </tr>
          <tr>
            <td valign="top"><span><img src="<%= t("env.img_url.ab-17") %>"></span></td>
            <td valign="top"><%=t("copper-intro.title_four")%></td>
            <td valign="top"><%=t("copper-intro.title_four_content")%></td>
          </tr>
        </table><br>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="center"><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3669.8585042517366!2d113.54641500000001!3d23.102275000000002!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3403064ae35753bb%3A0xe31524c7ad984c76!2z5buj5bee57aT5r-f5oqA6KGT6ZaL55m85Y2A5p2x5Y2A!5e0!3m2!1szh-TW!2stw!4v1404117546628" width="635" height="450" frameborder="0" style="border:5px solid #fff"></iframe></td>
          </tr>
        </table>
      </div>
    </section>
  </article>
