<link rel="stylesheet" href="/css/front/plant-2.css">
<link rel="stylesheet" href="/css/front/colorbox.css">
<script src="/js/jquery.colorbox-min.js"></script>

<script>
	$(document).ready(function(){
			$(".lightbox").colorbox();
	})
</script>
<style>
article h2 { background: url(<%= t("env.h2images.cp") %>) center 0 no-repeat }
</style>
<article>
    <h2>觀音廠電線電纜事業介紹</h2>
    <%= render "plant_sidemenu" %>
    <%= render "copper_sidemenu" %>
    <section>
      <h3><%=t("copper-certification.main_title")%></h3>
      <div class="content">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="3%" valign="top"><span><img src="/css/images/ab-17.png"></span></td>
            <td width="97%" valign="top"><%=t("copper-certification.list-1")%></td>
          </tr>
          <tr>
            <td valign="top"><span><img src="/css/images/ab-17.png"></span></td>
            <td valign="top"><%=t("copper-certification.list-2")%></td>
          </tr>
          <tr>
            <td valign="top"><span><img src="/css/images/ab-17.png"></span></td>
            <td valign="top"><%=t("copper-certification.list-3")%></td>
          </tr>
          <tr>
            <td valign="top"><span><img src="/css/images/ab-17.png"></span></td>
            <td valign="top"><%=t("copper-certification.list-4")%></td>
          </tr>
          <tr>
            <td valign="top"><span><img src="/css/images/ab-17.png"></span></td>
            <td valign="top"><%=t("copper-certification.list-5")%></td>
          </tr>
          <tr>
            <td valign="top"><span><img src="/css/images/ab-17.png"></span></td>
            <td valign="top"><%=t("copper-certification.list-6")%></td>
          </tr>
          <tr>
            <td valign="top"><span><img src="/css/images/ab-17.png"></span></td>
            <td valign="top"><%=t("copper-certification.list-7")%></td>
          </tr>
          <tr>
            <td valign="top"><span><img src="/css/images/ab-17.png"></span></td>
            <td valign="top"><%=t("copper-certification.list-8")%></td>
          </tr>
        </table>
        <br>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="center">
            <table width="686" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><a href="/css/images/jc-08-1b.jpg" class="lightbox"><img src="/css/images/jc-08-1.jpg"></a><a class="lightbox" href="/css/images/jc-08-2b.jpg"><img src="/css/images/jc-08-2.jpg"></a></td>
  </tr>
  <tr>
    <td><a class="lightbox" href="/css/images/jc-08-3b.jpg"><img src="/css/images/jc-08-3.jpg"></a><a class="lightbox" href="/css/images/jc-08-4b.jpg"><img src="/css/images/jc-08-4.jpg"></a><a class="lightbox" href="/css/images/jc-08-5b.jpg"><img src="/css/images/jc-08-5.jpg"></a></td>
  </tr>
  <tr>
    <td><a class="lightbox" href="/css/images/jc-08-6b.jpg"><img src="/css/images/jc-08-6.jpg"></a><a class="lightbox" href="/css/images/jc-08-7b.jpg"><img src="/css/images/jc-08-7.jpg"></a></td>
  </tr>
</table>
			</td>
          </tr>
        </table><br>
        <div class="download">
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="8%" valign="middle"><img src="/css/images/3c-09.png"></td>
              <td width="92%" valign="top"><%=t("copper-certification.download")%><br>
                <a href="#">台一銅業-專業認證與榮耀-UL-E234896档案.pdf</a></td>
            </tr>
          </table>
 </div>
      </div>
    </section>
  </article>
