<link rel="stylesheet" href="/css/front/plant-2.css">
<style>
article h2{background:url(<%= t("env.h2images.cp") %>) center 0 no-repeat}
.card { background: url(<%= t("env.h2images.gy-28") %>) 0 0 no-repeat; width: 508px; height: 249px;
text-align:left;padding:50px 0 0 145px;margin:50px 0 0 0}
.card h5{margin:0 0 25px 0}
</style>
<article>
    <h2>觀音廠電線電纜事業介紹</h2>
    <%= render "plant_sidemenu" %>
    <%= render "copper_sidemenu" %>
    <section>
      <h3><%=t("copper-consulting.main_title")%></h3>
      <div class="content">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="center"><div class="card">
                <h5><%=t("copper-consulting.title_1")%></h5>
                <p>
                <%= simple_format( t("copper-consulting.title_1_content") )%>                
            </div></td>
          </tr>
        </table>
      </div>
    </section>
  </article>
