<link rel="stylesheet" href="/css/front/plant-2.css">
<style>
article h2{background:url(<%= t("env.h2images.cp") %>) center 0 no-repeat}
</style>
 <article>
    <h2>觀音廠電線電纜事業介紹</h2>
    <%= render "plant_sidemenu" %>
    <%= render "copper_sidemenu" %>
    <section>

      <h3><%=t("copper-intro.main_title")%></h3>
      <div class="content">
        <%=simple_format( t("copper-intro.main_desc") )%>
        <br><br>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="center"><img src="<%= t("env.img_url.jc-02") %>"></td>
          </tr>
        </table>
      </div>
      <div class="content" style="color:#095368">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="4%" valign="top"><span><img src="<%= t("env.img_url.ab-17") %>"></span></td>
            <td width="11%" valign="top"><%=t("copper-intro.title_one")%></td>
            <td width="85%" valign="top"><%=t("copper-intro.title_one_content")%></td>
          </tr>
          <tr>
            <td valign="top"><span><img src="<%= t("env.img_url.ab-17") %>"></span></td>
            <td valign="top"><%=t("copper-intro.title_two")%></td>
            <td valign="top"><%=t("copper-intro.title_two_content")%></td>
          </tr>
          <tr>
            <td valign="top"><span><img src="<%= t("env.img_url.ab-17") %>"></span></td>
            <td valign="top"><%=t("copper-intro.title_three")%></td>
            <td valign="top"><%=t("copper-intro.title_three_content")%></td>
          </tr>
          <tr>
            <td valign="top"><span><img src="<%= t("env.img_url.ab-17") %>"></span></td>
            <td valign="top"><%=t("copper-intro.title_four")%></td>
            <td valign="top"><%=t("copper-intro.title_four_content")%></td>
          </tr>
        </table><br>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="center"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14676.12865304551!2d113.52316669999999!3d23.13249959999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMjPCsDA3JzU3LjAiTiAxMTPCsDMxJzIzLjQiRQ!5e0!3m2!1szh-TW!2stw!4v1409576040335" width="635" height="450" frameborder="0" style="border:5px solid #fff"></iframe><br>
            23°07'57.0"N 113°31'23.4"E</td>
          </tr>
        </table>
      </div>
    </section>
  </article>
