<link rel="stylesheet" href="/css/front/plant-2.css">
<style>
article h2{background:url(<%= t("env.h2images.cp") %>) center 0 no-repeat}
</style>
 <article>
    <h2>觀音廠電線電纜事業介紹</h2>
    <%= render "plant_sidemenu" %>
    <%= render "copper_sidemenu" %>
    <section>

      <h3><%=t("copper-intro.main_title")%></h3>
      <div class="content">
        <%=simple_format( t("copper-intro.main_desc") )%>
        <br><br>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="center"><img src="/css/images/jc-02.jpg"></td>
          </tr>
        </table>
      </div>
      <div class="content" style="color:#095368">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="4%" valign="top"><span><img src="/css/images/ab-17.png"></span></td>
            <td width="11%" valign="top"><%=t("copper-intro.title_one")%></td>
            <td width="85%" valign="top"><%=t("copper-intro.title_one_content")%></td>
          </tr>
          <tr>
            <td valign="top"><span><img src="/css/images/ab-17.png"></span></td>
            <td valign="top"><%=t("copper-intro.title_two")%></td>
            <td valign="top"><%=t("copper-intro.title_two_content")%></td>
          </tr>
          <tr>
            <td valign="top"><span><img src="/css/images/ab-17.png"></span></td>
            <td valign="top"><%=t("copper-intro.title_three")%></td>
            <td valign="top"><%=t("copper-intro.title_three_content")%></td>
          </tr>
          <tr>
            <td valign="top"><span><img src="/css/images/ab-17.png"></span></td>
            <td valign="top"><%=t("copper-intro.title_four")%></td>
            <td valign="top"><%=t("copper-intro.title_four_content")%></td>
          </tr>
        </table><br>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="center"><img src="/css/images/jc-07.jpg"></td>
          </tr>
        </table>
      </div>
    </section>
  </article>
