<link rel="stylesheet" href="/css/front/plant-2.css">
<style>
article h2{background:url(<%= t("env.h2images.3c") %>) center 0 no-repeat}
</style>
<article>
    <h2>觀音廠電線電纜事業介紹</h2>
		<%= render "plant_sidemenu" %>
		<%= render "guanyin3c_sidemenu" %>
    <section>
      <h3><%= t("guanyin3c-technology.main_title")%></h3>
      <h4><%= t("guanyin3c-technology.title_1")%></h4>
      <div class="content">
      <img src="<%= t("env.img_url.3c-05") %>"><br>
      <%= t("guanyin3c-technology.title_2")%><a href="www.iec.ch/worldplugs/" target="_blank">www.iec.ch/worldplugs/</a> </div>
      <h4><%= t("guanyin3c-technology.title_3")%></h4>
      <img src="<%= t("env.img_url.3c-06") %>">
    </section>
  </article>
