<link rel="stylesheet" href="/css/front/plant-2.css">
<style>
article h2{background:url(<%= t("env.h2images.gy") %>) center 0 no-repeat}
article aside ul li.active > a { background-image: url(<%= t("env.h2images.ab-03hh") %>) }
</style>
<article>
    <h2>觀音廠電線電纜事業介紹</h2>
		<%= render "plant_sidemenu" %>
		<%= render "guanyin_product_submenu" %>
    <section>
      <h3><%= t("guanyin-product-4.main_title") %></h3>
      <h4><%= t("guanyin-product-4.title_1") %></h4>
      <div class="content">
        <p><%= t("guanyin-product-4.title_1_desc") %></p>
        <br>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="3%" valign="top"><span><img src="/css/images/ab-17.png"></span></td>
            <td width="54%" valign="top"><%= simple_format( t("guanyin-product-4.title_1_content_1") ) %>
            </td>
            <td width="43%" valign="middle"><img src="/css/images/gy-13.jpg"></td>
          </tr>
          <tr>
            <td width="3%" valign="top"><span><img src="/css/images/ab-17.png"></span></td>
            <td width="54%" valign="top"><%= simple_format( t("guanyin-product-4.title_1_content_2") ) %>
            </td>
            <td width="43%" valign="middle"><img src="/css/images/gy-14.jpg"></td>
          </tr>
        </table>
      </div>
      <h4><%= t("guanyin-product-4.title_2") %></h4>
      <div class="content">
      <%= simple_format( t("guanyin-product-4.title_2_content_1") ) %>
        
      </div>
    </section>
  </article>
