<link rel="stylesheet" href="/css/front/plant-2.css">
<style>
article h2{background:url(<%= t("env.h2images.3c") %>) center 0 no-repeat}
article section .content { padding: 0 0 80px 55px }
</style>
<article>
    <h2>觀音廠電線電纜事業介紹</h2>
		<%= render "plant_sidemenu" %>
		<%= render "guanyin3c_sidemenu" %>
    <section>
      <h3><%= t("guanyin3c-catalogs.main_title")%></h3>
      <h4><%= t("guanyin3c-catalogs.title_1")%></h4>
      
      <div class="content"> 
<div class="download">
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="8%" valign="middle"><img src="<%= t("env.img_url.3c-09") %>"></td>
              <td width="92%" valign="top">附件下載：<br>
                <a href="/plant_attach/3c-01.pdf">觀音3C-產品型錄 - Power Cord Connector DM.pdf</a></td>
            </tr>
          </table>
        </div>
      <img src="<%= t("env.img_url.3c-07") %>"><br><br>        
      </div>
      <h4><%= t("guanyin3c-catalogs.title_2")%></h4>
      
      <div class="content">
<div class="download">
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="8%" valign="middle"><img src="<%= t("env.img_url.3c-09") %>"></td>
              <td width="92%" valign="top">附件下載：<br>
                <a href="/plant_attach/3c-02.pdf">觀音3C-產品型錄 - Power Cord Plug DM.pdf</a></td>
            </tr>
          </table>
        </div>
       <img src="<%= t("env.img_url.3c-08") %>"><br><br>        
      </div>
    </section>
  </article>
