<link rel="stylesheet" href="/css/front/plant-2.css">
<style>
article h2{background:url(<%= t("env.h2images.gy") %>) center 0 no-repeat}
article aside ul li.active > a { background-image: url(<%= t("env.h2images.ab-03hh") %>) }
</style>
<article>
    <h2>觀音廠電線電纜事業介紹</h2>
		<%= render "plant_sidemenu" %>
		<%= render "guanyin_product_submenu" %>    
    <section>
      <h3><%= t("guanyin-product-7.main_title") %></h3>
      <h4><%= t("guanyin-product-7.title_1") %></h4>
      <div class="content">
       <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="3%" valign="top"><span><img src="/css/images/ab-17.png"></span></td>
            <td width="97%" valign="top">
            <%= simple_format( t("guanyin-product-7.title_1_conent_1") )%>
            </td>
          </tr>
          <tr>
            <td valign="top"><span><img src="/css/images/ab-17.png"></span></td>
            <td valign="top">
            <%= simple_format( t("guanyin-product-7.title_1_conent_2") )%>
					</td>
          </tr>
          <tr>
            <td valign="top"><span><img src="/css/images/ab-17.png"></span></td>
            <td valign="top">
            <%= simple_format( t("guanyin-product-7.title_1_conent_3") )%>
            </td>
          </tr>
        </table>
      </div>
      <h4><%= t("guanyin-product-7.title_2") %></h4>
      <div class="content">
       <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="3%" valign="top"><span><img src="/css/images/ab-17.png"></span></td>
            <td width="97%" valign="top">
            <%= simple_format( t("guanyin-product-7.title_2_conent_1") )%>
            </td>
          </tr>
          <tr>
            <td valign="top"><span><img src="/css/images/ab-17.png"></span></td>
            <td valign="top">
            <%= simple_format( t("guanyin-product-7.title_2_conent_2") )%>
            </td>
          </tr>
        </table>
      </div>
    </section>
  </article>
