<link rel="stylesheet" href="/css/front/plant-2.css">
<style>
article h2{background:url(<%= t("env.h2images.3c") %>) center 0 no-repeat}
article section .content { padding: 0 0 80px 55px }
</style>
<article>
    <h2>觀音廠電線電纜事業介紹</h2>
		<%= render "plant_sidemenu" %>
		<%= render "guanyin3c_sidemenu" %>
    <section>
      <h3><%= t("guanyin3c-superiority.main_title")%></h3>
      <h4><%= t("guanyin3c-superiority.title_1")%></h4>
      <div class="content"> <%= t("guanyin3c-superiority.title_1_desc")%></div>
      <h4><%= t("guanyin3c-superiority.title_2")%></h4>
      <div class="content"> <%= t("guanyin3c-superiority.title_2_desc")%></div>
      <h4><%= t("guanyin3c-superiority.title_3")%></h4>
      <div class="content">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="3%" valign="top"><span><img src="/css/images/ab-17.png"></span></td>
            <td width="97%" valign="top"><%= t("guanyin3c-superiority.title_3_desc_1")%></td>
          </tr>
          <tr>
            <td valign="top"><span><img src="/css/images/ab-17.png"></span></td>
            <td valign="top"><%= t("guanyin3c-superiority.title_3_desc_2")%></td>
          </tr>
          <tr>
            <td valign="top"><span><img src="/css/images/ab-17.png"></span></td>
            <td valign="top"><%= t("guanyin3c-superiority.title_3_desc_3")%></td>
          </tr>
          <tr>
            <td valign="top"><span><img src="/css/images/ab-17.png"></span></td>
            <td valign="top"><%= t("guanyin3c-superiority.title_3_desc_4")%></td>
          </tr>
          <tr>
            <td valign="top"><span><img src="/css/images/ab-17.png"></span></td>
            <td valign="top"><%= t("guanyin3c-superiority.title_3_desc_5")%></td>
          </tr>
          <tr>
            <td valign="top"><span><img src="/css/images/ab-17.png"></span></td>
            <td valign="top"><%= t("guanyin3c-superiority.title_3_desc_6")%></td>
          </tr>
          <tr>
            <td valign="top"><span><img src="/css/images/ab-17.png"></span></td>
            <td valign="top"><%= t("guanyin3c-superiority.title_3_desc_7")%></td>
          </tr>
        </table>
      </div>
      <h4><%= t("guanyin3c-superiority.title_4")%></h4>
      <div class="content">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="3%" valign="top"><span><img src="/css/images/ab-17.png"></span></td>
            <td width="97%" valign="top"><%= t("guanyin3c-superiority.title_4_desc_1")%></td>
          </tr>
          <tr>
            <td valign="top"><span><img src="/css/images/ab-17.png"></span></td>
            <td valign="top"><%= t("guanyin3c-superiority.title_4_desc_2")%></td>
          </tr>
          <tr>
            <td valign="top"><span><img src="/css/images/ab-17.png"></span></td>
            <td valign="top"><%= t("guanyin3c-superiority.title_4_desc_3")%></td>
          </tr>
      </table>
      </div>
      <h4><%= t("guanyin3c-superiority.title_5")%></h4>
      <div class="content">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="3%" valign="top"><span><img src="/css/images/ab-17.png"></span></td>
            <td width="97%" valign="top"><%= t("guanyin3c-superiority.title_5_desc_1")%></td>
          </tr>
          <tr>
            <td valign="top"><span><img src="/css/images/ab-17.png"></span></td>
            <td valign="top"><%= t("guanyin3c-superiority.title_5_desc_2")%></td>
          </tr>
          <tr>
            <td valign="top"><span><img src="/css/images/ab-17.png"></span></td>
            <td valign="top"><%= t("guanyin3c-superiority.title_5_desc_3")%></td>
          </tr>
      </table>
      </div>
    </section>
  </article>
