<link rel="stylesheet" href="/css/front/plant-2.css">
<link rel="stylesheet" href="/css/front/colorbox.css">
<script src="/js/jquery.colorbox-min.js"></script>

<script>
	$(document).ready(function(){
			$(".lightbox").colorbox();
	})
</script>
<style>
article h2{background:url(<%= t("env.h2images.3c") %>) center 0 no-repeat}
</style>
<article>
    <h2>觀音廠電線電纜事業介紹</h2>
		<%= render "plant_sidemenu" %>
		<%= render "guanyin3c_sidemenu" %>
    <section>
      <h3><%= t("guanyin3c-certification.main_title")%></h3>
      <h4><%= t("guanyin3c-certification.title_1")%></h4>
      <div class="content">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="3%" valign="top"><span><img src="<%= t("env.img_url.ab-17") %>"></span></td>
            <td width="97%" valign="top"><%= t("guanyin3c-certification.title_2")%></td>
          </tr>
          <tr>
            <td width="3%" valign="top"><span><img src="<%= t("env.img_url.ab-17") %>"></span></td>
            <td width="97%" valign="top"><%= t("guanyin3c-certification.title_3")%></td>
          </tr>
          <tr>
            <td width="3%" valign="top"><span><img src="<%= t("env.img_url.ab-17") %>"></span></td>
            <td width="97%" valign="top"><%= t("guanyin3c-certification.title_4")%></td>
          </tr>          
          <tr>
            <td width="3%" valign="top"><span><img src="<%= t("env.img_url.ab-17") %>"></span></td>
            <td width="97%" valign="top"><%= t("guanyin3c-certification.title_5")%></td>
          </tr>
          <tr>
            <td width="3%" valign="top"><span><img src="<%= t("env.img_url.ab-17") %>"></span></td>
            <td width="97%" valign="top"><%= t("guanyin3c-certification.title_6")%></td>
          </tr>
          <tr>
            <td width="3%" valign="top"><span><img src="<%= t("env.img_url.ab-17") %>"></span></td>
            <td width="97%" valign="top"><%= t("guanyin3c-certification.title_7")%></td>
          </tr>
          <tr>
            <td width="3%" valign="top"><span><img src="<%= t("env.img_url.ab-17") %>"></span></td>
            <td width="97%" valign="top"><%= t("guanyin3c-certification.title_8")%></td>
          </tr>
          <tr>
            <td width="3%" valign="top"><span><img src="<%= t("env.img_url.ab-17") %>"></span></td>
            <td width="97%" valign="top"><%= t("guanyin3c-certification.title_9")%></td>
          </tr>
          <tr>
            <td width="3%" valign="top"><span><img src="<%= t("env.img_url.ab-17") %>"></span></td>
            <td width="97%" valign="top"><%= t("guanyin3c-certification.title_10")%></td>
          </tr>
          <tr>
            <td width="3%" valign="top"><span><img src="<%= t("env.img_url.ab-17") %>"></span></td>
            <td width="97%" valign="top"><%= t("guanyin3c-certification.title_11")%></td>
          </tr>
          <tr>
            <td width="3%" valign="top"><span><img src="<%= t("env.img_url.ab-17") %>"></span></td>
            <td width="97%" valign="top"><%= t("guanyin3c-certification.title_12")%></td>
          </tr>
        </table>
        <br>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="center"><table width="601" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><a  class="lightbox" href="<%= t("env.img_url.3c-02-1b") %>"><img src="<%= t("env.img_url.3c-02-1") %>"></a><a  class="lightbox" href="<%= t("env.img_url.3c-02-2b") %>"><img src="<%= t("env.img_url.3c-02-2") %>"></a><a  class="lightbox" href="<%= t("env.img_url.3c-02-3b") %>"><img src="<%= t("env.img_url.3c-02-3") %>"></a></td>
  </tr>
  <tr>
    <td><a  class="lightbox" href="<%= t("env.img_url.3c-02-4b") %>"><img src="<%= t("env.img_url.3c-02-4") %>"></a><a  class="lightbox" href="<%= t("env.img_url.3c-02-5b") %>"><img src="<%= t("env.img_url.3c-02-5") %>"></a><a  class="lightbox" href="<%= t("env.img_url.3c-02-6b") %>"><img src="<%= t("env.img_url.3c-02-6") %>"></a></td>
  </tr>
  <tr>
    <td><a  class="lightbox" href="<%= t("env.img_url.3c-02-7b") %>"><img src="<%= t("env.img_url.3c-02-7") %>"></a><a  class="lightbox" href="<%= t("env.img_url.3c-02-8b") %>"><img src="<%= t("env.img_url.3c-02-8") %>"></a><a  class="lightbox" href="<%= t("env.img_url.3c-02-9b") %>"><img src="<%= t("env.img_url.3c-02-9") %>"></a></td>
  </tr>
</table>
</td>
          </tr>
        </table>
      </div>
    </section>
  </article>

