<link rel="stylesheet" href="/css/front/plant-2.css">
<style>
article h2{background:url(<%= t("env.h2images.gy") %>) center 0 no-repeat}
</style>
<article>
    <h2>觀音廠電線電纜事業介紹</h2>
		<%= render "plant_sidemenu" %>
		<%= render "guanyin_sidemenu" %>
    <section>
      <h3><%= t("guanyin-research.main_title")%></h3>
      <div class="content"> <%= simple_format( t("guanyin-research.main_title_desc") )%>
      <div class="content">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="46%" valign="top">
            <%= simple_format( t("guanyin-research.main_title_list") )%>
            <td width="54%" valign="top"><img src="/css/images/gy-11.jpg"></td>
          </tr>
        </table>
      </div>
      <h4><%= t("guanyin-research.title_1")%></h4>
      <div class="content">
      <%= simple_format( t("guanyin-research.title_1_content_1") )%>
        
        <br>
        <img src="/css/images/gy-12.jpg"><br>
        <br>
        <br>
        <h5><%= t("guanyin-research.title_2")%></h5>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="3%" valign="top"><span><img src="/css/images/ab-17.png"></span></td>
            <td width="54%" valign="top">
            <%= simple_format( t("guanyin-research.title_2_content_1") )%>
            </td>
            <td width="43%" valign="middle"><img src="/css/images/gy-13.jpg"></td>
          </tr>
          <tr>
            <td width="3%" valign="top"><span><img src="/css/images/ab-17.png"></span></td>
            <td width="54%" valign="top">
            <%= simple_format( t("guanyin-research.title_2_content_2") )%>
            </td>
            <td width="43%" valign="middle"><img src="/css/images/gy-14.jpg"></td>
          </tr>
        </table>
        <br>
        <br>
        <h5><%= t("guanyin-research.title_3")%></h5>
        <br>
        <img src="/css/images/gy-15.jpg"> <br>
        <br>
        <br>
        <h5><%= t("guanyin-research.title_4")%></h5>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="3%" valign="top"><span><img src="/css/images/ab-17.png"></span></td>
            <td width="62%" valign="top"><%= t("guanyin-research.title_4_content_1") %></td>
            <td width="35%" rowspan="8" valign="top"><img src="/css/images/gy-16.jpg"></td>
          </tr>
          <tr>
            <td valign="top"><span><img src="/css/images/ab-17.png"></span></td>
            <td valign="top"><%= t("guanyin-research.title_4_content_2") %></td>
          </tr>
          <tr>
            <td valign="top"><span><img src="/css/images/ab-17.png"></span></td>
            <td valign="top"><%= t("guanyin-research.title_4_content_3") %></td>
          </tr>
          <tr>
            <td valign="top"><span><img src="/css/images/ab-17.png"></span></td>
            <td valign="top"><%= t("guanyin-research.title_4_content_4") %></td>
          </tr>
          <tr>
            <td valign="top"><span><img src="/css/images/ab-17.png"></span></td>
            <td valign="top"><%= t("guanyin-research.title_4_content_5") %></td>
          </tr>
          <tr>
            <td valign="top"><span><img src="/css/images/ab-17.png"></span></td>
            <td valign="top"><%= t("guanyin-research.title_4_content_6") %></td>
          </tr>
          <tr>
            <td valign="top"><span><img src="/css/images/ab-17.png"></span></td>
            <td valign="top"><%= t("guanyin-research.title_4_content_7") %></td>
          </tr>
          <tr>
            <td valign="top"><span><img src="/css/images/ab-17.png"></span></td>
            <td valign="top"> <%= t("guanyin-research.title_4_content_8") %></td>
          </tr>
        </table>
        <br>
        <br>
        <h5><%= t("guanyin-research.title_5")%></h5>
        <p><%= t("guanyin-research.title_5_content_1") %></p>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="3%" valign="top"><span><img src="/css/images/ab-17.png"></span></td>
            <td width="97%" valign="top"><%= t("guanyin-research.title_5_content_2") %></td>
          </tr>
          <tr>
            <td width="3%" valign="top"><span><img src="/css/images/ab-17.png"></span></td>
            <td width="97%" valign="top"><%= t("guanyin-research.title_5_content_3") %></td>
          </tr>
        </table>
        <br>
        <img src="/css/images/gy-17.jpg"><br>
        <br>
        <br>
        <h5><%= t("guanyin-research.title_6")%></h5>
        <p><%= t("guanyin-research.title_6_content_1") %></p>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="3%" valign="top"><span><img src="/css/images/ab-17.png"></span></td>
            <td width="53%" valign="top"><%= t("guanyin-research.title_6_content_2") %></td>
            <td width="44%" rowspan="3" align="center" valign="top"><img src="/css/images/gy-18.jpg"></td>
          </tr>
          <tr>
            <td width="3%" valign="top"><span><img src="/css/images/ab-17.png"></span></td>
            <td width="53%" valign="top"><%= t("guanyin-research.title_6_content_3") %></td>
          </tr>
          <tr>
            <td width="3%" valign="top"><span><img src="/css/images/ab-17.png"></span></td>
            <td width="53%" valign="top"><%= t("guanyin-research.title_6_content_4") %><br>
            <br>
            <br>
            <br></td>
          </tr>
        </table><br>
      <img src="/css/images/gy-19.jpg"> </div>
    </section>
  </article>
