<link rel="stylesheet" href="/css/front/plant-2.css">
<style>
article h2{background:url(<%= t("env.h2images.3c") %>) center 0 no-repeat}
article section .content { padding: 0 0 80px 55px }
</style>
<article>
    <h2>觀音廠電線電纜事業介紹</h2>
		<%= render "plant_sidemenu" %>
		<%= render "guanyin3c_sidemenu" %>
    <section>
      <h3><%= t("guanyin3c-research.main_title")%></h3>
      <h4><%= t("guanyin3c-research.title_1")%></h4>
      <div class="content">
        <%= t("guanyin3c-research.title_1_desc")%>
      </div>
      <h4><%= t("guanyin3c-research.title_2")%></h4>
      <div class="content">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="3%" valign="top"><span><img src="<%= t("env.img_url.ab-17") %>"></span></td>
    <td width="64%" valign="top"><%= simple_format( t("guanyin3c-research.title_2_desc_1") )%>
    
    </td>
    <td width="33%" valign="top"><img src="<%= t("env.img_url.3c-03") %>"></td>
  </tr>
  <tr>
    <td valign="top"><span><img src="<%= t("env.img_url.ab-17") %>"></span></td>
    <td valign="top"><%= simple_format( t("guanyin3c-research.title_2_desc_2") )%>
    </td>
    <td valign="top"><img src="<%= t("env.img_url.3c-04") %>"></td>
  </tr>
</table>

      </div>
    </section>
  </article>
