<link rel="stylesheet" href="/css/front/plant-2.css">
<style>
article h2{background:url(<%= t("env.h2images.gy") %>) center 0 no-repeat}
article aside ul li.active > a { background-image: url(<%= t("env.h2images.ab-03hh") %>) }
</style>
<article>
    <h2>觀音廠電線電纜事業介紹</h2>
		<%= render "plant_sidemenu" %>
		<%= render "guanyin_product_submenu" %>        
    <section>
      <h3><%= t("guanyin-product-9.main_title") %></h3>      
      <div class="content">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="3%" valign="top"><span><img src="<%= t("env.img_url.ab-17") %>"></span></td>
            <td width="97%" valign="top">
            <%= simple_format( t("guanyin-product-9.title_1_content_1") )%>
            </td>
          </tr>
          <tr>
            <td valign="top"><span><img src="<%= t("env.img_url.ab-17") %>"></span></td>
            <td valign="top">
	          <%= simple_format( t("guanyin-product-9.title_1_content_2") )%>
            </td>
          </tr>
          <tr>
            <td valign="top"><span><img src="<%= t("env.img_url.ab-17") %>"></span></td>
            <td valign="top">
	          <%= simple_format( t("guanyin-product-9.title_1_content_3") )%>
              </td>
          </tr>
          <tr>
            <td valign="top"><span><img src="<%= t("env.img_url.ab-17") %>"></span></td>
            <td valign="top">
	          <%= simple_format( t("guanyin-product-9.title_1_content_4") )%>
            </td>
          </tr>
          <tr>
            <td valign="top"><span><img src="<%= t("env.img_url.ab-17") %>"></span></td>
            <td valign="top">
            <%= simple_format( t("guanyin-product-9.title_1_content_5") )%>
            </td>
          </tr>
          <tr>
            <td valign="top"><span><img src="<%= t("env.img_url.ab-17") %>"></span></td>
            <td valign="top">
            <%= simple_format( t("guanyin-product-9.title_1_content_6") )%>
            </td>
          </tr>
        </table>
      </div>
    </section>
  </article>
