<link rel="stylesheet" href="/css/front/plant-2.css">
<style>
article h2{background:url(<%= t("env.h2images.gy") %>) center 0 no-repeat}
article aside ul li.active > a { background:url(/css/images/ab-03hh.png) 30px 19px no-repeat,url(/css/images/ab-02h.png) 0 0/100% 100% no-repeat; }
</style>
<article>
    <h2>觀音廠電線電纜事業介紹</h2>
		<%= render "plant_sidemenu" %>
		<%= render "guanyin_product_submenu" %>    
    <section>
      <h3><%= t("guanyin-product-1.main_title") %></h3>
      
      <div class="content">
       <img src="<%= t("env.img_url.gy-21") %>">
      </div>
    </section>
  </article>
