<link rel="stylesheet" href="/css/front/plant-2.css">
<link rel="stylesheet" href="/css/front/colorbox.css">
<script src="/js/jquery.colorbox-min.js"></script>

<script>
	$(document).ready(function(){
			$(".lightbox").colorbox();
	})
</script>
<style>
article h2{background:url(<%= t("env.h2images.gy") %>) center 0 no-repeat}
</style>
<article>
    <h2>觀音廠電線電纜事業介紹</h2>
    		<%= render "plant_sidemenu" %>
		<%= render "guanyin_sidemenu" %>
    <section>
      <h3><%= t("guanyin-certification.main_title")%></h3>
      <div class="content">
        <b><%= t("guanyin-certification.title_1")%></b>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="3%" valign="top"><span><img src="/css/images/ab-17.png"></span></td>
            <td width="97%" valign="top"><%= t("guanyin-certification.title_2")%></td>
          </tr>
          <tr>
            <td valign="top"><span><img src="/css/images/ab-17.png"></span></td>
            <td valign="top"><%= t("guanyin-certification.title_3")%></td>
          </tr>
          <tr>
            <td valign="top"><span><img src="/css/images/ab-17.png"></span></td>
            <td valign="top"><%= t("guanyin-certification.title_4")%></td>
          </tr>
          <tr>
            <td valign="top"><span><img src="/css/images/ab-17.png"></span></td>
            <td valign="top"><%= t("guanyin-certification.title_5")%></td>
          </tr>
          <tr>
            <td valign="top"><span><img src="/css/images/ab-17.png"></span></td>
            <td valign="top"><%= t("guanyin-certification.title_6")%></td>
          </tr>
          <tr>
            <td valign="top"><span><img src="/css/images/ab-17.png"></span></td>
            <td valign="top"><%= t("guanyin-certification.title_7")%></td>
          </tr>
          <tr>
            <td valign="top"><span><img src="/css/images/ab-17.png"></span></td>
            <td valign="top"><%= t("guanyin-certification.title_8")%></td>
          </tr>
          <tr>
            <td valign="top"><span><img src="/css/images/ab-17.png"></span></td>
            <td valign="top"> <%= t("guanyin-certification.title_9")%></td>
          </tr>
          <tr>
            <td valign="top"><span><img src="/css/images/ab-17.png"></span></td>
            <td valign="top"><%= t("guanyin-certification.title_10")%></td>
          </tr>
          <tr>
            <td valign="top"><span><img src="/css/images/ab-17.png"></span></td>
            <td valign="top"><%= t("guanyin-certification.title_11")%></td>
          </tr>
          <tr>
            <td valign="top"><span><img src="/css/images/ab-17.png"></span></td>
            <td valign="top"><%= t("guanyin-certification.title_12")%></td>
          </tr>
        </table><br><br>
      <table width="648" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><a class="lightbox" href="/css/images/gy-05-1b.jpg"><img src="/css/images/gy-05-1.jpg"></a><a class="lightbox" href="/css/images/gy-05-2b.jpg"><img src="/css/images/gy-05-2.jpg"></a><a class="lightbox" href="/css/images/gy-05-3b.jpg"><img src="/css/images/gy-05-3.jpg"></a></td>
  </tr>
  <tr>
    <td><a class="lightbox" href="/css/images/gy-05-4b.jpg"><img src="/css/images/gy-05-4.jpg"></a><a class="lightbox" href="/css/images/gy-05-5b.jpg"><img src="/css/images/gy-05-5.jpg"></a><a class="lightbox" href="/css/images/gy-05-6b.jpg"><img src="/css/images/gy-05-6.jpg"></a></td>
  </tr>
  <tr>
    <td><a class="lightbox" href="/css/images/gy-05-7b.jpg"><img src="/css/images/gy-05-7.jpg"></a><a class="lightbox" href="/css/images/gy-05-8b.jpg"><img src="/css/images/gy-05-8.jpg"></a><a class="lightbox" href="/css/images/gy-05-9b.jpg"><img src="/css/images/gy-05-9.jpg"></a></td>
  </tr>
  <tr>
    <td><a class="lightbox" href="/css/images/gy-05-10b.jpg"><img src="/css/images/gy-05-10.jpg"></a><a class="lightbox" href="/css/images/gy-05-11b.jpg"><img src="/css/images/gy-05-11.jpg"></a><a class="lightbox" href="/css/images/gy-05-12b.jpg"><img src="/css/images/gy-05-12.jpg"></a></td>
  </tr>
  <tr>
    <td><a class="lightbox" href="/css/images/gy-05-13b.jpg"><img src="/css/images/gy-05-13.jpg"></a></td>
  </tr>
</table>
 </div>
    </section>
  </article>
