<link rel="stylesheet" href="/css/front/plant-2.css">
<style>
article h2{background:url(<%= t("env.h2images.gy") %>) center 0 no-repeat}
article aside ul li.active > a { background:url(/css/images/ab-03hh.png) 30px 19px no-repeat,url(/css/images/ab-02h.png) 0 0/100% 100% no-repeat; }
</style>
<article>
    <h2>觀音廠電線電纜事業介紹</h2>
		<%= render "plant_sidemenu" %>
		<%= render "guanyin_product_submenu" %>    
    <section>
      <h3><%= t("guanyin-product-2.main_title") %></h3>
      <div class="content"> <b><%= t("guanyin-product-2.title_1") %></b>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="3%" valign="top"><span><img src="<%= t("env.img_url.ab-17") %>"></span></td>
            <td width="97%" valign="top"><%= t("guanyin-product-2.title_1_content_1") %></td>
          </tr>
          <tr>
            <td width="3%" valign="top"><span><img src="<%= t("env.img_url.ab-17") %>"></span></td>
            <td width="97%" valign="top"><%= t("guanyin-product-2.title_1_content_2") %></td>
          </tr>
        </table>
        <br>
        <img src="<%= t("env.img_url.gy-22") %>"> </div>
    </section>
  </article>
