<link rel="stylesheet" href="/css/front/plant-2.css">
<style>
article h2{background:url(<%= t("env.h2images.hc") %>) center 0 no-repeat}
</style>
<article>
    <h2>觀音廠電線電纜事業介紹</h2>
    <%= render "plant_sidemenu" %>
    <%= render "hsinchu_sidemenu" %>
    <section>
      <h3><%=t("hsinchu-intro.main_title")%></h3>
      <div class="content">
			<%=t("hsinchu-intro.main_desc")%><br><br>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="center"><img src="<%= t("env.img_url.hc-02") %>"></td>
          </tr>
        </table>
      </div>
      <div class="content" style="color:#095368">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="4%" valign="top"><span><img src="<%= t("env.img_url.ab-17") %>"></span></td>
            <td width="11%" valign="top"><%=t("hsinchu-intro.title_one")%></td>
            <td width="85%" valign="top"><%=t("hsinchu-intro.title_one_content")%></td>
          </tr>
          <tr>
            <td valign="top"><span><img src="<%= t("env.img_url.ab-17") %>"></span></td>
            <td valign="top"><%=t("hsinchu-intro.title_two")%></td>
            <td valign="top"><%=t("hsinchu-intro.title_two_content")%></td>
          </tr>
          <tr>
            <td valign="top"><span><img src="<%= t("env.img_url.ab-17") %>"></span></td>
            <td valign="top"><%=t("hsinchu-intro.title_three")%></td>
            <td valign="top"><%=t("hsinchu-intro.title_three_content")%></td>
          </tr>
          <tr>
            <td valign="top"><span><img src="<%= t("env.img_url.ab-17") %>"></span></td>
            <td valign="top"><%=t("hsinchu-intro.title_four")%></td>
            <td valign="top"><%=t("hsinchu-intro.title_four_content")%></td>
          </tr>
          <tr>
            <td valign="top"><span><img src="<%= t("env.img_url.ab-17") %>"></span></td>
            <td valign="top"><%=t("hsinchu-intro.title_five")%></td>
            <td valign="top"><%=t("hsinchu-intro.title_five_content")%></td>
          </tr>
          <tr>
            <td valign="top"><span><img src="<%= t("env.img_url.ab-17") %>"></span></td>
            <td valign="top"><%=t("hsinchu-intro.title_six")%></td>
            <td valign="top"><%=t("hsinchu-intro.title_six_content")%></td>
          </tr>
        </table><br>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14478.99979618028!2d121.00199999999998!3d24.87238845!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMjTCsDUyJzIwLjYiTiAxMjHCsDAwJzA3LjIiRQ!5e0!3m2!1szh-TW!2stw!4v1409576217518" width="635" height="450" frameborder="0" style="border:5px solid #fff"></iframe><br>
        24°52'20.6"N 121°00'07.2"E
      </div>
    </section>
  </article>
