<link rel="stylesheet" href="/css/front/plant-2.css">
<style>
article h2{background:url(<%= t("env.h2images.hc") %>) center 0 no-repeat}
</style>
<article>
    <h2>觀音廠電線電纜事業介紹</h2>
    <%= render "plant_sidemenu" %>
    <%= render "hsinchu_sidemenu" %>

    <section>
      <h3><%= t("hsinchu-equipment.main_title")%></h3>
      <h4><%= t("hsinchu-equipment.title_1")%></h4>
      <div class="content"><br><br>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="center"><img src="/css/images/hc-09.jpg"></td>
          </tr>
        </table>
      </div>
      <h4><%= t("hsinchu-equipment.title_2")%></h4>
      <div class="content"><br><br>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="center"><img src="/css/images/hc-10.jpg"></td>
          </tr>
        </table>
      </div>
      <h4><%= t("hsinchu-equipment.title_3")%></h4>
      <div class="content"><br><br>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="center"><img src="/css/images/hc-11.jpg"></td>
          </tr>
        </table>
      </div>
    </section>
  </article>
