<link rel="stylesheet" href="/css/front/plant-2.css">
<style>
article h2{background:url(<%= t("env.h2images.hc") %>) center 0 no-repeat}
</style>
<article>
    <h2>觀音廠電線電纜事業介紹</h2>
    <%= render "plant_sidemenu" %>
    <%= render "hsinchu_sidemenu" %>
    <section>
      <h3><%=t("hsinchu-intro.main_title")%></h3>
      <div class="content">
			<%=t("hsinchu-intro.main_desc")%><br><br>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="center"><img src="<%= t("env.img_url.hc-02") %>"></td>
          </tr>
        </table>
      </div>
      <div class="content" style="color:#095368">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="4%" valign="top"><span><img src="<%= t("env.img_url.ab-17") %>"></span></td>
            <td width="11%" valign="top"><%=t("hsinchu-intro.title_one")%></td>
            <td width="85%" valign="top"><%=t("hsinchu-intro.title_one_content")%></td>
          </tr>
          <tr>
            <td valign="top"><span><img src="<%= t("env.img_url.ab-17") %>"></span></td>
            <td valign="top"><%=t("hsinchu-intro.title_two")%></td>
            <td valign="top"><%=t("hsinchu-intro.title_two_content")%></td>
          </tr>
          <tr>
            <td valign="top"><span><img src="<%= t("env.img_url.ab-17") %>"></span></td>
            <td valign="top"><%=t("hsinchu-intro.title_three")%></td>
            <td valign="top"><%=t("hsinchu-intro.title_three_content")%></td>
          </tr>
          <tr>
            <td valign="top"><span><img src="<%= t("env.img_url.ab-17") %>"></span></td>
            <td valign="top"><%=t("hsinchu-intro.title_four")%></td>
            <td valign="top"><%=t("hsinchu-intro.title_four_content")%></td>
          </tr>
          <tr>
            <td valign="top"><span><img src="<%= t("env.img_url.ab-17") %>"></span></td>
            <td valign="top"><%=t("hsinchu-intro.title_five")%></td>
            <td valign="top"><%=t("hsinchu-intro.title_five_content")%></td>
          </tr>
          <tr>
            <td valign="top"><span><img src="<%= t("env.img_url.ab-17") %>"></span></td>
            <td valign="top"><%=t("hsinchu-intro.title_six")%></td>
            <td valign="top"><%=t("hsinchu-intro.title_six_content")%></td>
          </tr>
        </table><br>
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3619.760301025857!2d121.00128020000002!3d24.872035000000004!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x346831450fd0c41f%3A0xd75dd0c022c2c6c0!2zMzAz5paw56u557ij5rmW5Y-j6YSJ5aSn5ZCM6LevMjXomZ8!5e0!3m2!1szh-TW!2stw!4v1404116807087" width="635" height="450" frameborder="0" style="border:5px solid #fff"></iframe>
      </div>
    </section>
  </article>
