<link rel="stylesheet" href="/css/front/plant-2.css">
<style>
article h2{background:url(<%= t("env.h2images.hc") %>) center 0 no-repeat}
article section .content { padding: 0 0 80px 55px }
</style>
<article>
    <h2>觀音廠電線電纜事業介紹</h2>
    <%= render "plant_sidemenu" %>
    <%= render "hsinchu_sidemenu" %>
    <section>
      <h3><%= t("hsinchu-research.main_title")%></h3>
      <h4><%= t("hsinchu-research.title_1")%></h4>
      <div class="content">
       <%= simple_format( t("hsinchu-research.title_1_desc") )%>
      </div>
      <h4><%= t("hsinchu-research.title_2")%></h4>
      <div class="content">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="4%" valign="top"><span><img src="/css/images/ab-17.png"></span></td>
            <td width="70%" valign="top"><h5><%= t("hsinchu-research.title_2_content_1")%></h5>
              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td width="16%" valign="top"><%= t("hsinchu-research.title_2_content_1_sub")%></td>
                  <td width="84%" valign="top"><%= t("hsinchu-research.title_2_content_1_desc")%></td>
                </tr>
                <tr>
                  <td valign="top"><%= t("hsinchu-research.title_2_content_1_subtitle_1")%></td>
                  <td valign="top"><%= t("hsinchu-research.title_2_content_1_subtitle_1_desc")%></td>
                </tr>
                <tr>
                  <td valign="top"><%= t("hsinchu-research.title_2_content_1_subtitle_2")%></td>
                  <td valign="top"><%= t("hsinchu-research.title_2_content_1_subtitle_2_desc")%></td>
                </tr>
                <tr>
                  <td valign="top"><%= t("hsinchu-research.title_2_content_1_subtitle_3")%></td>
                  <td valign="top"><%= t("hsinchu-research.title_2_content_1_subtitle_3_desc")%></td>
                </tr>
                <tr>
                  <td valign="top"><%= t("hsinchu-research.title_2_content_1_subtitle_4")%></td>
                  <td valign="top"><%= simple_format( t("hsinchu-research.title_2_content_1_subtitle_4_desc") )%></td>
                </tr>
                <tr>
                  <td valign="top"><%= t("hsinchu-research.title_2_content_1_subtitle_5")%></td>
                  <td valign="top"><%= t("hsinchu-research.title_2_content_1_subtitle_5_desc")%></td>
                </tr>
                <tr>
                  <td valign="top"><%= t("hsinchu-research.title_2_content_1_subtitle_6")%></td>
                  <td valign="top"><%= simple_format( t("hsinchu-research.title_2_content_1_subtitle_6_desc") )%></td>
                </tr>
              </table>
            </td>
            <td width="26%" align="right" valign="top"><img src="/css/images/hc-06.jpg"></td>
          </tr>
        </table><br>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="4%" valign="top"><span><img src="/css/images/ab-17.png"></span></td>
            <td width="70%" valign="top"><h5><%= t("hsinchu-research.title_2_content_2")%></h5>
              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td width="16%" valign="top"><%= t("hsinchu-research.title_2_content_2_sub")%></td>
                  <td width="84%" valign="top"><%= t("hsinchu-research.title_2_content_2_desc")%></td>
                </tr>
                <tr>
                  <td valign="top"><%= t("hsinchu-research.title_2_content_2_subtitle_1")%></td>
                  <td valign="top"><%= t("hsinchu-research.title_2_content_2_subtitle_1_desc")%></td>
                </tr>
                <tr>
                  <td valign="top"><%= t("hsinchu-research.title_2_content_2_subtitle_2")%></td>
                  <td valign="top"><%= t("hsinchu-research.title_2_content_2_subtitle_2_desc")%></td>
                </tr>
                <tr>
                  <td valign="top"><%= t("hsinchu-research.title_2_content_2_subtitle_3")%></td>
                  <td valign="top"><%= t("hsinchu-research.title_2_content_2_subtitle_3_desc")%></td>
                </tr>
              </table>
            </td>
            <td width="26%" align="right" valign="top"><img src="/css/images/hc-07.jpg"></td>
          </tr>
        </table><br>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="4%" valign="top"><span><img src="/css/images/ab-17.png"></span></td>
            <td width="96%" valign="top"><h5><%= t("hsinchu-research.title_2_content_3")%></h5>
              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td width="16%" valign="top"><%= t("hsinchu-research.title_2_content_3_sub")%></td>
                  <td width="84%" valign="top"><%= t("hsinchu-research.title_2_content_3_desc")%></td>
                </tr>
                <tr>
                  <td valign="top"><%= t("hsinchu-research.title_2_content_3_subtitle_1")%></td>
                  <td valign="top"><%= t("hsinchu-research.title_2_content_3_subtitle_1_desc")%></td>
                </tr>
                <tr>
                  <td valign="top"><%= t("hsinchu-research.title_2_content_3_subtitle_2")%></td>
                  <td valign="top"><%= t("hsinchu-research.title_2_content_3_subtitle_2_desc")%></td>
                </tr>
                <tr>
                  <td valign="top"><%= t("hsinchu-research.title_2_content_3_subtitle_3")%></td>
                  <td valign="top"><%= t("hsinchu-research.title_2_content_3_subtitle_3_desc")%></td>
                </tr>
                <tr>
                  <td valign="top"><%= t("hsinchu-research.title_2_content_3_subtitle_4")%></td>
                  <td valign="top"><%= t("hsinchu-research.title_2_content_3_subtitle_4_desc")%></td>
                </tr>
                <tr>
                  <td valign="top"><%= t("hsinchu-research.title_2_content_3_subtitle_5")%></td>
                  <td valign="top"><%= t("hsinchu-research.title_2_content_3_subtitle_5_desc")%></td>
                </tr>
                <tr>
                  <td valign="top"><%= t("hsinchu-research.title_2_content_3_subtitle_6")%></td>
                  <td valign="top"><%= t("hsinchu-research.title_2_content_3_subtitle_6_desc")%></td>
                </tr>
                <tr>
                  <td colspan="2" align="center" valign="top"><em><br>
                  <img src="/css/images/hc-08.jpg"></em></td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </div>
    </section>
  </article>

