<link rel="stylesheet" href="/css/front/plant-2.css">
<style>
article h2{background:url(<%= t("env.h2images.hc") %>) center 0 no-repeat}
</style>
 <article>
    <h2>觀音廠電線電纜事業介紹</h2>
            <%= render "plant_sidemenu" %>
    <%= render "hsinchu_sidemenu" %>
    <section>
      <h3><%= t("hsinchu-use.main_title")%></h3>
      <h4><%= t("hsinchu-use.subtitle_1")%></h4>
      <div class="content">
      <img src="<%= t("env.img_url.hc-14") %>">
      </div>
      <h4><%= t("hsinchu-use.subtitle_2")%></h4>
      <div class="content">
      <img src="<%= t("env.img_url.hc-15") %>"> 
      </div>
    </section>
  </article>
