<link rel="stylesheet" href="/css/front/human.css">
<style>
article h2{background:url(<%= t("env.img_url.hr-01") %>) center 0 no-repeat}
</style>
<article>
    <h2>關於台一</h2>
    <%= render "human_sidemenu" %>
    <section>
      <h3><%= t("human-guangzhou-1.main_title") %></h3>
      <div class="content">
      <%= t("human-guangzhou-1.subtitle") %>
      </div>
      <h4><%= t("human-guangzhou-1.title_one") %></h4>
      <div class="content">
      <%= t("human-guangzhou-1.title_one_content") %>
      </div>
      <h4><%= t("human-guangzhou-1.title_two") %></h4>
      <div class="content">
      <%= t("human-guangzhou-1.title_two_content") %>
      </div>
      <h4><%= t("human-guangzhou-1.title_three") %></h4>
      <div class="content">
      <%= t("human-guangzhou-1.title_three_content") %>
      </div>
      <h4><%= t("human-guangzhou-1.title_four") %></h4>
      <div class="content">
      <%= t("human-guangzhou-1.title_four_content") %>
      </div>
      <h4><%= t("human-guangzhou-1.title_five") %></h4>
      <div class="content">
			<%= t("human-guangzhou-1.title_five_content") %>
      </div>
    </section>
  </article>

