<link rel="stylesheet" href="/css/front/human.css">
<style>
article h2{background:url(<%= t("env.img_url.hr-01") %>) center 0 no-repeat}
#link{background:url(<%= t("env.img_url.hr-07") %>) 0 0 no-repeat;height:599px;
padding:130px 0 0 102px}
#link a{color:#1c94fb}
</style>
<article>
    <h2>關於台一</h2>
    <%= render "human_sidemenu_tw" %>
    <section>
      <h3><%= t("human-taiwan-2.main_title") %></h3>
      <div class="content"><br>
      <div id="link">
      <%= simple_format( t("human-taiwan-2.subtitle") )%>
<a href="http://www.104.com.tw/jobbank/custjob/index.php?r=cust&j=4c4a43294436406940683a1d1d1d1d5f2443a363189j99&jobsource=n104bank1" target="_blank">台一國際股份有限公司工作機會</a><br>
<br>
<br>
      <%= simple_format( t("human-taiwan-2.info") )%>
        </div>
      </div>
    </section>
  </article>

