<link rel="stylesheet" href="/css/front/human.css">
 <article>
	<h2>關於台一</h2>
    <%= render "human_sidemenu_tw" %>
	<section>
      <h3><%= t("human-taiwan-4.main_title") %></h3>
      <div class="content"> 
      <p><%= t("human-taiwan-4.subtitle") %></p>
      <br>
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="3%" valign="top"><span><img src="<%= t("env.img_url.ab-17") %>"></span></td>
            <td width="97%" valign="top"><%= t("human-taiwan-4.title_one_content_1") %></td>
          </tr>
          <tr>
            <td valign="top"><span><img src="<%= t("env.img_url.ab-17") %>"></span></td>
            <td valign="top"><%= t("human-taiwan-4.title_one_content_2") %></td>
          </tr>
          <tr>
            <td valign="top"><span><img src="<%= t("env.img_url.ab-17") %>"></span></td>
            <td valign="top"><%= t("human-taiwan-4.title_one_content_3") %></td>
          </tr>
          <tr>
            <td valign="top"><span><img src="<%= t("env.img_url.ab-17") %>"></span></td>
            <td valign="top"><%= t("human-taiwan-4.title_one_content_4") %></td>
          </tr>
          <tr>
            <td valign="top"><span><img src="<%= t("env.img_url.ab-17") %>"></span></td>
            <td valign="top"><%= t("human-taiwan-4.title_one_content_5") %></td>
          </tr>
          <tr>
            <td valign="top"><span><img src="<%= t("env.img_url.ab-17") %>"></span></td>
            <td valign="top"><%= t("human-taiwan-4.title_one_content_6") %></td>
          </tr>
          <tr>
            <td valign="top"><span><img src="<%= t("env.img_url.ab-17") %>"></span></td>
            <td valign="top"><%= t("human-taiwan-4.title_one_content_7") %></td>
          </tr>
      </table>
      <br>
      <p><%= t("human-taiwan-4.title_one_content_8") %></p>
      </div>
    </section>
 </article>