<link rel="stylesheet" href="/css/front/human.css">
<style>
article h2{background:url(<%= t("env.img_url.hr-01") %>) center 0 no-repeat}
</style>
 <article>
	<h2>關於台一</h2>
    <%= render "human_sidemenu_tw" %>
	<section>
      <h3><%= t("human-taiwan-4.main_title") %></h3>
      <div class="content"> 
      <p><%= t("human-taiwan-4.subtitle") %></p>
      <br>
      <h4><%= t("human-taiwan-4.title_one") %></h4>
      <div class="content">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="3%" valign="top"><span><img src="<%= t("env.img_url.ab-17") %>"></span></td>
            <td width="97%" valign="top"><%= t("human-taiwan-4.title_one_content_1") %></td>
          </tr>
          <tr>
            <td valign="top"><span><img src="<%= t("env.img_url.ab-17") %>"></span></td>
            <td valign="top"><%= t("human-taiwan-4.title_one_content_2") %></td>
          </tr>
          <tr>
            <td valign="top"><span><img src="<%= t("env.img_url.ab-17") %>"></span></td>
            <td valign="top"><%= t("human-taiwan-4.title_one_content_3") %></td>
          </tr>
          <tr>
            <td valign="top"><span><img src="<%= t("env.img_url.ab-17") %>"></span></td>
            <td valign="top"><%= t("human-taiwan-4.title_one_content_4") %></td>
          </tr>
          <tr>
            <td valign="top"><span><img src="<%= t("env.img_url.ab-17") %>"></span></td>
            <td valign="top"><%= t("human-taiwan-4.title_one_content_5") %></td>
          </tr>
          <tr>
            <td valign="top"><span><img src="<%= t("env.img_url.ab-17") %>"></span></td>
            <td valign="top"><%= t("human-taiwan-4.title_one_content_6") %></td>
          </tr>
      </table>
      </div>
      <h4><%= t("human-taiwan-4.title_two") %></h4>
      <div class="content">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="3%" valign="top"><span><img src="<%= t("env.img_url.ab-17") %>"></span></td>
            <td width="97%" valign="top"><%= t("human-taiwan-4.title_two_content_1") %></td>
          </tr>
          <tr>
            <td valign="top"><span><img src="<%= t("env.img_url.ab-17") %>"></span></td>
            <td valign="top"><%= t("human-taiwan-4.title_two_content_2") %></td>
          </tr>
          <tr>
            <td valign="top"><span><img src="<%= t("env.img_url.ab-17") %>"></span></td>
            <td valign="top"><%= t("human-taiwan-4.title_two_content_3") %></td>
          </tr>
          <tr>
            <td valign="top"><span><img src="<%= t("env.img_url.ab-17") %>"></span></td>
            <td valign="top"><%= t("human-taiwan-4.title_two_content_4") %></td>
          </tr>
          <tr>
            <td valign="top"><span><img src="<%= t("env.img_url.ab-17") %>"></span></td>
            <td valign="top"><%= t("human-taiwan-4.title_two_content_5") %></td>
          </tr>
      </table>
      </div>
      <h4><%= t("human-taiwan-4.title_three") %></h4>
        <div class="content">
          <img src="<%= t("env.img_url.hr-08") %>">
        </div>
      </div>
    </section>
 </article>