<link rel="stylesheet" href="/css/front/human.css">
<style>
article h2{background:url(<%= t("env.img_url.hr-01") %>) center 0 no-repeat}
article section .content { padding-left:55px }
</style>
<article>
    <h2>關於台一</h2>
    <%= render "human_sidemenu" %>
    <section>
      <h3><%= t("human-guangzhou-2.main_title") %></h3>
      <h4><%= t("human-guangzhou-2.title_one") %></h4>
      <div class="content">
      		<%= t("human-guangzhou-2.title_one_content_1") %><img src="<%= t("human-guangzhou-2.hr_03_img_url") %>" style="position:relative;top:10px;margin:0 5px">
      		<%= t("human-guangzhou-2.title_one_content_search")%><a href="http://search.51job.com/list/co,c,5389,000000,10,1.html" target="_blank"><%= t("human-guangzhou-2.title_one_content_keywords") %></a>
      		 <%= simple_format( t("human-guangzhou-2.title_one_content_2") )%>
      </div>
      <h4><%= t("human-guangzhou-2.title_two") %></h4>
      <div class="content">
      	<%= simple_format( t("human-guangzhou-2.title_two_content") )%>
      </div>
    </section>
  </article>
