<link rel="stylesheet" href="/css/front/plant-2.css">
<style>
article h2{background:url(<%= t("env.h2images.jc") %>) center 0 no-repeat}
</style>
<article>
    <h2>觀音廠電線電纜事業介紹</h2>
    <%= render "plant_sidemenu" %>
    <%= render "jiangcorp_sidemenu" %>
    <section>
      <h3><%= t("jiangcorp-intro.main_title")%></h3>
      <div class="content">
        <p><%= simple_format( t("jiangcorp-intro.main_desc") )%></p>
        <br>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="center"><img src="<%= t("env.img_url.jc-02-1") %>"></td>
          </tr>
        </table>
      </div>
      <div class="content" style="color:#095368">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="4%" valign="top"><span><img src="<%= t("env.img_url.ab-17") %>"></span></td>
            <td width="11%" valign="top"><%= t("jiangcorp-intro.title_1")%></td>
            <td width="85%" valign="top"><%= t("jiangcorp-intro.title_1_content")%></td>
          </tr>
          <tr>
            <td valign="top"><span><img src="<%= t("env.img_url.ab-17") %>"></span></td>
            <td valign="top"><%= t("jiangcorp-intro.title_2")%></td>
            <td valign="top"><%= t("jiangcorp-intro.title_2_content")%></td>
          </tr>
          <tr>
            <td valign="top"><span><img src="<%= t("env.img_url.ab-17") %>"></span></td>
            <td valign="top"><%= t("jiangcorp-intro.title_3")%></td>
            <td valign="top"><%= t("jiangcorp-intro.title_3_content")%></td>
          </tr>
          <tr>
            <td valign="top"><span><img src="<%= t("env.img_url.ab-17") %>"></span></td>
            <td valign="top"><%= t("jiangcorp-intro.title_4")%></td>
            <td valign="top"><%= t("jiangcorp-intro.title_4_content")%></td>
          </tr>
        </table><br>
				<table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="center"><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3669.3820377575867!2d113.55035000000001!3d23.119707!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3403063f98ffc839%3A0x8d4cf9a12cb9da56!2z5bm_5bee5byA5Y-R5Yy65Lic5Yy65bu6562R5a6J6KOF5bel56iL5pyJ6ZmQ6LSj5Lu75YWs5Y-456ys5LiA5YiG5YWs5Y-4!5e0!3m2!1szh-TW!2stw!4v1404118699741" width="635" height="450" frameborder="0" style="border:5px solid #fff"></iframe></td>
          </tr>
        </table>
      </div>
    </section>
  </article>
