<link rel="stylesheet" href="/css/front/plant-2.css">
<style>
article h2{background:url(<%= t("env.h2images.jc") %>) center 0 no-repeat}
article section .content{padding-left:55px}
</style>
<article>
    <h2>觀音廠電線電纜事業介紹</h2>
   <%= render "plant_sidemenu" %>
    <%= render "jiangcorp_sidemenu" %>
   <section>
      <h3><%= t("jiangcorp-superiority.main_title")%></h3>
      <h4><%= t("jiangcorp-superiority.title_1")%></h4>
      <div class="content"> <%= t("jiangcorp-superiority.title_1_desc")%></div>
      <h4><%= t("jiangcorp-superiority.title_2")%></h4>
      <div class="content"> <%= t("jiangcorp-superiority.title_2_desc")%></div>
      <h4><%= t("jiangcorp-superiority.title_3")%></h4>
      <div class="content">
        <%= t("jiangcorp-superiority.title_3_desc")%>
      </div>
      </section>
  </article>
