<link rel="stylesheet" href="/css/front/plant-1.css">
<style>
article h2{background:url(<%= t("env.img_url.fc-01") %>) center 0 no-repeat}
</style>
 <article>
    <h2>工廠介紹</h2>
    <section>
    	<div id="content">
      <div>
      		<a href="<%= page_pages_path("copper-intro")  %>">
		        <table width="100%" border="0" cellspacing="0" cellpadding="0">
		          <tr>
		            <td width="43%" valign="top"><img src="<%= t("env.img_url.fc-03") %>"></td>
		            <td width="57%" valign="top"><h4><%= t("plant.copper_title") %></h4>
		              <p><%= t("plant.copper_desc") %></p></td>
		          </tr>
		        </table>
	        </a>
     </div>
        <div><a href="<%= page_pages_path("jiangcorp-intro")  %>">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="43%" valign="top"><img src="<%= t("env.img_url.fc-04") %>"></td>
            <td width="57%" valign="top"><h4><%= t("plant.jiangcorp_title") %></h4>
              <p><%= t("plant.jiangcorp_desc") %></p></td>
          </tr>
        </table>
        </a></div>
        <div><a href="<%= page_pages_path("hsinchu-intro")  %>">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="43%" valign="top"><img src="<%= t("env.img_url.fc-05") %>"></td>
            <td width="57%" valign="top"><h4><%= t("plant.hsinchu_title") %></h4>
              <p><%= t("plant.hsinchu_desc") %></p></td>
          </tr>
        </table>
        </a></div>
        <div><a href="<%= page_pages_path("resin-intro")  %>">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="43%" valign="top"><img src="<%= t("env.img_url.fc-06") %>"></td>
            <td width="57%" valign="top"><h4><%= t("plant.resin_title")  %></h4>
              <p><%= t("plant.resin_desc")  %></p></td>
          </tr>
        </table>
        </a></div>
        <div><a href="<%= page_pages_path("guanyin-intro")  %>">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="43%" valign="top"><img src="<%= t("env.img_url.fc-07") %>"></td>
            <td width="57%" valign="top"><h4><%= t("plant.guanyin_title")  %></h4>
              <p><%= t("plant.guanyin_desc")  %></p></td>
          </tr>
        </table>
        </a></div>
        <div><a href="<%= page_pages_path("guanyin3c-intro")  %>">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="43%" valign="top"><img src="<%= t("env.img_url.fc-07-2") %>"></td>
            <td width="57%" valign="top"><h4><%= t("plant.guanyin3c_title")  %></h4>
              <p><%= t("plant.guanyin3c_desc")  %></p></td>
          </tr>
        </table>
        </a></div>
        <div><a href="http://www.puredise.com.tw" target="_blank">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="43%" valign="top"><img src="/css/images/fc-11.jpg"></td>
            <td width="57%" valign="top"><h4 style="font-size:19px"><%= t("plant.puredise_title")  %></h4>
              <p><%= t("plant.puredise_desc")  %></p></td>
          </tr>
        </table>
        </a></div>
        <div><a>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="43%" valign="top"><img src="/css/images/fc-12.jpg"></td>
            <td width="57%" valign="top"><h4 style="font-size:19px"><%= t("plant.rework_title")  %></h4>
              <p style="font-size:.9em"><%= t("plant.rework_desc")  %></p></td>
          </tr>
        </table>
        </a></div>
        </div><!--content-->
    </section>
  </article>
