<link rel="stylesheet" href="/css/front/plant-2.css">
<style>
article h2{background:url(<%= t("env.h2images.rs") %>) center 0 no-repeat}
article .content span{position:relative;top:5px;}
</style>
<article>
    <h2>觀音廠電線電纜事業介紹</h2>
		<%= render "plant_sidemenu" %>
		<%= render "resin_sidemenu" %>
    <section>
      <h3><%= t("resin-equipment.main_title")%></h3>
      <div class="content">
       <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="4%" valign="top"><span><img src="<%= t("env.img_url.ab-17") %>"></span></td>
            <td width="96%" valign="top"><%= simple_format( t("resin-equipment.title_1") )%></td>
          </tr>
          <tr>
            <td valign="top"><span><img src="<%= t("env.img_url.ab-17") %>"></span></td>
            <td valign="top"><%= simple_format( t("resin-equipment.title_2") )%></td>
          </tr>
          <tr>
            <td valign="top"><span><img src="<%= t("env.img_url.ab-17") %>"></span></td>
            <td valign="top"><%= simple_format( t("resin-equipment.title_3") )%>
           </td>
          </tr>
        </table><br>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
	          <td align="center"><img src="<%= t("env.img_url.rs-08") %>"></td>
          </tr>
        </table>        
      </div>
    </section>
  </article>
