<link rel="stylesheet" href="/css/front/plant-2.css">
<style>
article h2{background:url(<%= t("env.h2images.rs") %>) center 0 no-repeat}
</style>
 <article>
    <h2>觀音廠電線電纜事業介紹</h2>
		<%= render "plant_sidemenu" %>
		<%= render "resin_sidemenu" %>
    <section>
      <h3><%= t("resin-superiority.main_title")%></h3>
      <h4><%= t("resin-superiority.main_title_desc")%></h4>
      <div class="content">
        <img src="/css/images/rs-05.jpg">
      </div>
    </section>
 </article>