<link rel="stylesheet" href="/css/front/plant-2.css">
<style>
article h2{background:url(<%= t("env.h2images.rs") %>) center 0 no-repeat}
</style>
<article>
    <h2>觀音廠電線電纜事業介紹</h2>
		<%= render "plant_sidemenu" %>
		<%= render "resin_sidemenu" %>
    <section>
      <h3><%= t("resin-intro.main_title")%></h3>
      <div class="content">
       <%= t("resin-intro.main_title_desc")%><br><br>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="center"><img src="<%= t("env.img_url.rs-02") %>"></td>
          </tr>
        </table>
      </div>
      <div class="content" style="color:#095368">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="4%" valign="top"><span><img src="<%= t("env.img_url.ab-17") %>"></span></td>
            <td width="11%" valign="top"><%= t("resin-intro.title_1")%></td>
            <td width="85%" valign="top"><%= t("resin-intro.title_1_desc")%></td>
          </tr>
          <tr>
            <td valign="top"><span><img src="<%= t("env.img_url.ab-17") %>"></span></td>
            <td valign="top"><%= t("resin-intro.title_2")%></td>
            <td valign="top"><%= t("resin-intro.title_2_desc")%></td>
          </tr>
          <tr>
            <td valign="top"><span><img src="<%= t("env.img_url.ab-17") %>"></span></td>
            <td valign="top"><%= t("resin-intro.title_3")%></td>
            <td valign="top"><%= t("resin-intro.title_3_desc")%></td>
          </tr>
          <tr>
            <td valign="top"><span><img src="<%= t("env.img_url.ab-17") %>"></span></td>
            <td valign="top"><%= t("resin-intro.title_4")%></td>
            <td valign="top"><%= t("resin-intro.title_4_desc")%></td>
          </tr>
          <tr>
            <td valign="top"><span><img src="<%= t("env.img_url.ab-17") %>"></span></td>
            <td valign="top"><%= t("resin-intro.title_5")%></td>
            <td valign="top"><%= t("resin-intro.title_5_desc")%></td>
          </tr>
          <tr>
            <td valign="top"><span><img src="<%= t("env.img_url.ab-17") %>"></span></td>
            <td valign="top"><%= t("resin-intro.title_6")%></td>
            <td valign="top"><%= t("resin-intro.title_6_desc")%></td>
          </tr>
        </table><br>
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3618.681619919904!2d121.15820590000003!3d24.908839399999984!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x34683b4d3690afd9%3A0x852707b82b90d27a!2zMzI25qGD5ZyS57ij5qWK5qKF6Y6u5Lit5bGx5YyX6Lev5LiA5q61!5e0!3m2!1szh-TW!2stw!4v1404118121376" width="635" height="450" frameborder="0" style="border:5px solid #fff"></iframe>
      </div>
    </section>
  </article>
