<link rel="stylesheet" href="/css/front/plant-2.css">
<style>
article h2{background:url(<%= t("env.h2images.rs") %>) center 0 no-repeat}
</style>
<article>
    <h2>觀音廠電線電纜事業介紹</h2>
		<%= render "plant_sidemenu" %>
		<%= render "resin_sidemenu" %>
    <section>
      <h3><%= t("resin-intro.main_title")%></h3>
      <div class="content">
       <%= t("resin-intro.main_title_desc")%><br><br>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="center"><img src="<%= t("env.img_url.rs-02") %>"></td>
          </tr>
        </table>
      </div>
      <div class="content" style="color:#095368">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="4%" valign="top"><span><img src="<%= t("env.img_url.ab-17") %>"></span></td>
            <td width="13%" valign="top"><%= t("resin-intro.title_1")%></td>
            <td width="83%" valign="top"><%= t("resin-intro.title_1_desc")%></td>
          </tr>
          <tr>
            <td valign="top"><span><img src="<%= t("env.img_url.ab-17") %>"></span></td>
            <td valign="top"><%= t("resin-intro.title_2")%></td>
            <td valign="top"><%= t("resin-intro.title_2_desc")%></td>
          </tr>
          <tr>
            <td valign="top"><span><img src="<%= t("env.img_url.ab-17") %>"></span></td>
            <td valign="top"><%= t("resin-intro.title_3")%></td>
            <td valign="top"><%= t("resin-intro.title_3_desc")%></td>
          </tr>
          <tr>
            <td valign="top"><span><img src="<%= t("env.img_url.ab-17") %>"></span></td>
            <td valign="top"><%= t("resin-intro.title_4")%></td>
            <td valign="top"><%= t("resin-intro.title_4_desc")%></td>
          </tr>
          <tr>
            <td valign="top"><span><img src="<%= t("env.img_url.ab-17") %>"></span></td>
            <td valign="top"><%= t("resin-intro.title_5")%></td>
            <td valign="top"><%= t("resin-intro.title_5_desc")%></td>
          </tr>
          <tr>
            <td valign="top"><span><img src="<%= t("env.img_url.ab-17") %>"></span></td>
            <td valign="top"><%= t("resin-intro.title_6")%></td>
            <td valign="top"><%= t("resin-intro.title_6_desc")%></td>
          </tr>
        </table><br>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14474.884628128591!2d121.1607278!3d24.9074913!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMjTCsDU0JzI3LjAiTiAxMjHCsDA5JzM4LjYiRQ!5e0!3m2!1szh-TW!2stw!4v1409576317214" width="635" height="450" frameborder="0" style="border:5px solid #fff"></iframe><br>24°54'26.97"N 121°9'38.62"E
      </div>
    </section>
  </article>
