<link rel="stylesheet" href="/css/front/plant-2.css">
<style>
article h2{background:url(<%= t("env.h2images.rs") %>) center 0 no-repeat}
</style>
<article>
    <h2>觀音廠電線電纜事業介紹</h2>
		<%= render "plant_sidemenu" %>
		<%= render "resin_sidemenu" %>
    <section>
      <h3><%= t("resin-catalogs.main_title")%></h3>
      <div class="content">
       <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td valign="top" align="center"><img src="<%= t("env.img_url.rs-06") %>"></td>
          </tr>
        </table>
        <br>
        <div class="download">
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="10%"></td>
              <td width="8%" valign="middle"><img src="<%= t("env.img_url.3c-09") %>"></td>
              <td width="82%" valign="top">附件下載：<br>
                <a href="/plant_attach/rs-01.pdf">樹脂廠-產品型錄-絕緣材料型錄.pdf</a></td>
            </tr>
          </table>
        </div>
      </div>
    </section>
  </article>
