<header>
  <h2 class="left">首頁輪播</h2>    
  <div class="explain right"><p>圖片尺寸：1250px * 500px</p></div>  
</header>

<article>
	<p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
    
  <% if @banner.errors.any? %>
  	<div id="error_explanation">
    	<h2><%= pluralize(@banner.errors.count, "error") %> :</h2>
	    <ul>
	    <% @banner.errors.full_messages.each do |msg| %>
	      <li><%= msg %></li>
	    <% end %>
	    </ul>
	  </div>
	<% end %>
	
	<% if @gallery_count <= 0 %>
	  
	  <div class="form">
	  	<%= form_for(@banner, url: admin_banner_path(@banner, locale: I18n.locale) , method: "PATCH", html: { id: "patchthisbanner", :multipart => true } ) do |f| %>
	    <table width="100%" border="0" cellspacing="0" cellpadding="0">  
	      <tr>
	        <td width="7%">圖片：</td>
	        <td width="93%">
          	<%= file_field_tag :attachment, class: 'file' %>
	        </td>
	      </tr>          
	    </table>
	  </div>
	  <div class="button">
		  <a href="javascript: document.getElementById('patchthisbanner').submit();" class="right highlight" data-no-turbolink = true >上傳<img src="<%= image_path("up.png") %>"></a>
		</div>
		<% unless @is_first_banner %>
			<div class="form">
		    <table width="100%" border="0" cellspacing="0" cellpadding="0">
		      <tr>
		        <td width="9%">連結左：</td>
		        <td width="91%">
		        	<%= f.text_field :url_1, placeholder: '請輸入連結(左)', class: 'text'   , required: true  %></td>
		      </tr> 
		      <tr>
		        <td>連結中：</td>
		        <td><%= f.text_field :url_2, placeholder: '請輸入連結(中)', class: 'text'   , required: true  %></td>
		      </tr>
		      <tr>
		        <td>連結右：</td>
		        <td><%= f.text_field :url_3, placeholder: '請輸入連結(右)', class: 'text'   , required: true  %></td>
		      </tr>             
		    </table>
		  </div>
		<% else %>
			<div class="form">
			
				<% if @banners_attachment_count <= 0 %>
					<p>需上傳至少一張輪播圖片 方可設定連結</p>
				<% else %>
					<p>第一張輪播無法使用設定連結功能</p>
				<% end %>
				
			</div>
			<%= f.hidden_field :url_1, placeholder: '請輸入連結(左)', class: 'text' %>
		<% end %>
	  <!--form-->
	  <% end %>

	<% else %>
		
		<div class="form">
			<%= form_for(@banner, url: admin_banner_path(@banner, locale: I18n.locale) , method: "PATCH", html: { id: "patchthisbanner", :multipart => true } ) do |f| %>
		  <%= render 'admin/common/show_attachment', target: @banner, target_title: '圖片', type: '', allow_dragable: false %>
	 	</div>
	 	<% unless @is_first_banner %>
		 	<div class="form">
		    <table width="100%" border="0" cellspacing="0" cellpadding="0">
		      <tr>
		        <td width="9%">連結左：</td>
		        <td width="91%">
		        	<%= f.text_field :url_1, placeholder: '請輸入連結(左)', class: 'text'   , required: true  %></td>
		      </tr> 
		      <tr>
		        <td>連結中：</td>
		        <td><%= f.text_field :url_2, placeholder: '請輸入連結(中)', class: 'text'   , required: true  %></td>
		      </tr>
		      <tr>
		        <td>連結右：</td>
		        <td><%= f.text_field :url_3, placeholder: '請輸入連結(右)', class: 'text'   , required: true  %></td>
		      </tr>             
		    </table>
		  </div>
	  <% else %>
			<div class="form">
				<p>第一張輪播無法設定連結</p>
				<%= f.hidden_field :url_1, placeholder: '請輸入連結(左)', class: 'text' %>
			</div>
		<% end %>
	  <!--form-->
  	<% end %>

	<% end %>

  <div class="button"> 
  	<a href="<%= admin_banners_path %>" class="left" data-no-turbolink = true ><img src="<%= image_path("left.png") %>">返回</a>
  	<a href="javascript: document.getElementById('patchthisbanner').submit();" class="right highlight" data-no-turbolink = true >儲存<img src="<%= image_path("save.png") %>"></a>
  </div>

</article>