<% if @hq_has_results == true %>
<ul>
	HQ<%= t("env.hqlevel_show.breadcrumb") %>
	<% @hq_result.each do | result | %>
		<% hq_breadcrumb = (Hqlevel.find(result.hqlevel_id)).find_my_direct_parent %>
		<% if hq_breadcrumb.present? %>
			<li>
				<% hq_breadcrumb.reverse.each_with_index do | level, index | %>
						<%=  level.name %> <%= " > " if hq_breadcrumb.length - 1 != index%>
						<%= link_to "#{result.name}", hqlevel_path(@hq_root_node, locale: I18n.locale, product: result.id )%><br>
				<% end %>
			</li>
		<% end %>
	<% end %>
</ul>
<% end %>

<br>

<% if @br_has_results == true %>
<ul>
	BR<%= t("env.hqlevel_show.breadcrumb") %>
	<% @br_result.each do | result | %>
		<li>
			<% br_breadcrumb = (Brlevel.find(result.brlevel_id)).find_my_direct_parent %>
			<% br_breadcrumb.reverse.each_with_index do | level, index | %>
				<%=  level.name %> <%= " > " if br_breadcrumb.length - 1 != index%>
				<%= link_to "#{result.name}", brlevel_path(@br_root_node, locale: I18n.locale, product: result.id )%><br>
			 <% end %>
		</li>
	<% end %>
</ul>
<% end %>

<% if @hq_has_results == false && @br_has_results == false %>
	<h1>查無產品</h1>
<% end %>