<header>
        <h2 class="left">產品介紹 <span>/ 工廠角度</span></h2>
        <nav class="left"> <!-- 直接回到編輯頁不合理 因為有的階層根本不存在 -->
		<%= link_to "[正體中文]", admin_brlevel_path( Brlevel.return_root_node_on_demand("zh_TW"), :locale => "zh_TW") , 'data-no-turbolink' => true %>
		<%= link_to "[英文]", admin_brlevel_path( Brlevel.return_root_node_on_demand("en"), :locale => "en") , 'data-no-turbolink' => true %>
		<%= link_to "[簡體中文]", admin_brlevel_path( Brlevel.return_root_node_on_demand("zh_CN"), :locale => "zh_CN" ) , 'data-no-turbolink' => true %>
		<%= link_to "[日文]", admin_brlevel_path( Brlevel.return_root_node_on_demand("ja"), :locale => "ja" ) , 'data-no-turbolink' => true %>
		目前語系：<%= I18n.locale.to_s%></nav>
</header>
 <article>
		<%  if @brlevel.level >= 0 && @brlevel.level < 4  %>
		<div class="hgroup">
			<h3  class="left">
			<% @breadcrumb.reverse.each_with_index do | bread, index | %>
			 	<%= bread.name if index == 0 %>
			 	<% if index >= 1  %>
				 	<span>/<%= bread.name %></span>
				 	<!-- link_to  ancestor.name,  admin_brlevel_path(ancestor.id, :locale => I18n.locale) -->
			 	<% end %>
			 	<% if index == (@breadcrumb.count - 1 ) %>
			 		<span>/分類列表</span>
			 	<% end %>
			<% end %>
			</h3>
					<% if current_admin.superadmin == 1 || @brlevel.chaos == 200 %>
							<div class="button right">
				          <a href="javascript: void(0)" id="createALevelbutton" class="right highlight" >建立分類<img src="/images/add_folder.png"></a>
							</div>
					<% end %>
    </div>
    <%= "Notice: This Level allow mess up. " if (@brlevel.chaos == 200) %>
        <div class="list">
        	<table id="mainLevelList" width="100%" border="0" cellspacing="0" cellpadding="0">
	        	<tbody id="listThisLevel">

		        	<%= render 'showlevelList' %>

	        	<tbody>    
			</table>
        </div>
        <% if current_admin.superadmin == 1 || @brlevel.chaos == 200 %><!-- new a level begin -->
	      			<%= render 'newAlevelform' %>
				<% end %><!-- new a level end -->
			
      <% end %>
      <!--   end of level part -->
	
		<!-- this level product list -->
       <%  if @brlevel.level > 0 && @brlevel.level < 5  %>
		<div class="hgroup">
			<h3  class="left">
			<% @breadcrumb.reverse.each_with_index do | bread, index | %>
			 	<%= bread.name if index == 0 %>
			 	<% if index >= 1 %>
				 	<span>/<%= bread.name %></span>
				 	<!-- link_to  ancestor.name,  admin_brlevel_path(ancestor.id, :locale => I18n.locale) -->
			 	<% end %>
			 	<% if index == (@breadcrumb.count - 1 ) %>
			 		<span>/產品列表</span>
			 	<% end %>
			<% end %>
			</h3>
					<% if current_admin.superadmin == 1 || @brlevel.chaos == 200 %>
		          <div class="button right">
         		   		<a href=<%= new_admin_brproduct_path(:parentlevelid=>@brlevel.id, :locale => I18n.locale) %> class="right highlight" >新增產品<img src="/images/add_file.png">
			           	</a>
		           </div>
          <% end %>      
    </div>
        
        <div class="list">
          <table id="mainProductList" width="100%" border="0" cellspacing="0" cellpadding="0">
          	<tbody id="listAllProduct">
		      			<%= render 'listLevelproducts' %>
	        	</tbody>
          </table>
       <% end %>
        </div>
       <!-- end of product list part -->
		
		<!-- this level product list end -->
		<% if @brlevel.parent.to_i > 0 %>
  		      <div class="button">
  		      		<a href=<%= admin_brlevel_path(@brlevel.parent.to_i, :locale => I18n.locale) %> class="left" > 
		           		<img src="/images/left.png">
		           		返回
	           		</a>
  		      </div>

		<% end %>
      </article>

<script>

		//show create new level inputs
		$( "#createALevelbutton" ).mouseup(function() {
		  $( "#createNewLevel" ).toggle();
		  if($( "#createNewLevel" ).is(":visible") == true){
			$('[_height=auto]').height($('[_height=auto]').height()+100);	  
		  }else{
			$('[_height=auto]').height($('[_height=auto]').height()-100);	    
		  }
		});
		//hide create new level inputs
		$( "#cancelALevelbutton" ).mouseup(function() {
		  $( "#createNewLevel" ).toggle();
		  $('[_height=auto]').height($('[_height=auto]').height()-100);	  
		});
		
		//ajax:success on NewLevel action
		$("#ajaxNewLevelForm").on('ajax:success',function(evt, data, status, xhr) {
			//alert("ajaxsuccess");
		    var $this = $(this);
		
		    $("#createname").val('');
		    $this.find('.errors').empty();
			$("#createNewLevel").toggle();
			$('[_height=auto]').height($('[_height=auto]').height()-50);	  
		});
		//ajax:error on NewLevel action
		$("#ajaxNewLevelForm").on('ajax:error',function(evt, data, status, xhr) {
			//alert("ajaxerror");
		    var responseObject = $.parseJSON(xhr.responseText),
		        errors = $('<ul />');
		        
		        //alert("ERROR with="+JSON.stringify(responseObject));
		
		    $.each(responseObject, function(){
		      errors.append('<li>' + this + '</li>');
		    })
		
		    errors.appendTo($(this).find('.errors'));

		});

		//rename link
		$("#mainLevelList").on('mouseup',".renameLink", function() {
			$(".tr-"+this.id.toString().replace("level","")+"-for-edit").toggle();
			$(".tr-"+this.id.toString().replace("level","")+"-for-show" ).toggle();
		});
		
		$("#mainLevelList").on('mouseup', ".cancelRenameALevelbutton",function() {
			$(".tr-"+this.id.toString().replace("cancellevel", "")+"-for-edit").toggle();
			$(".tr-"+this.id.toString().replace("cancellevel", "")+"-for-show" ).toggle();
		});

		//ajax:success on Rename action
		$(".ajaxRenameLevelForm").on('ajax:success',function(evt, data, status, xhr) {
			//alert("ajax rename success");
		    var $this = $(this);
		
		    $this.find('.errors').empty();
		    
			var  strLevelid = $this.find("#renameLevelID").val().toString();
			$(".tr-"+strLevelid+"-for-edit").toggle();
			$(".tr-"+strLevelid+"-for-show" ).toggle();
			$("#variant"+strLevelid + " > " + " a ").text( $this.find("#brlevel_name").val().toString() );

		});
		//ajax:error on Rename action
		$(".ajaxRenameLevelForm").on('ajax:error' ,function(evt, data, status, xhr) {
				//alert("ajaxerror");
		    var responseObject = $.parseJSON(xhr.responseText),
		        errors = $('<ul />');
		        
		        //alert("ERROR with="+JSON.stringify(responseObject));
		
		    $.each(responseObject, function(){
		      errors.append('<li>' + this + '</li>');
		    })
		
		    errors.appendTo($(this).find('.errors'));

		});

		//$('#listThisLevel').sortable();
		//reorder v1.0
		$(function() {
			var prevEvent = null;
		    $( "#listThisLevel" ).sortable({
		    	items: "> .dragable" ,
		      //connectWith: ".renamelevelcontainer",
		      placeholder: "ui-state-highlight",
		      update: function( event, ui ) {
			      	
					if(event.timeStamp == prevEvent){
						return null;
					}
					
					prevEvent = event.timeStamp;	
					var newRankings_array = $('#listThisLevel').sortable('toArray');
					var orderSet = [];
					$.each(newRankings_array, function( index, value){
				      	orderSet.push(value.replace("dragablecontainer_",""));
				    });
				    var order2Push = JSON.stringify(orderSet);
				  	//console.log(order2Push);    
				  	//console.log("================END==================");
				  	
				  	$.ajaxSetup({
					  	headers: {
							    'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
						}
					});

				  	  //multiple reorder 
					  	$.ajax({
					      type: "PATCH",
					      url: "/admin/"+"<%= I18n.locale.to_s %>"+"/brlevels/"+orderSet[0]+"/multiple_reorder",
					      data: { brlevel: {  reorderset: orderSet } },
					      success: function(data){ //rearrange
							   		$.each(newRankings_array, function( index, value){
							      	$('#renamelevelcontainer_'+value.replace("dragablecontainer_","") ).insertAfter('#'+value);
								    });
					        return false   
					      },
					      error: function(data){
						    //alert ("faild");
					        return false  
					      }
					    });
		      }
		    });
		    
			    
		    $( "#listThisLevel" ).disableSelection();
		  });  
		//add function after drag and drop(sortable)
		//################################ product reorder begin #######################################
		$(function() {
			var prevEvent = null;
		    $( "#listAllProduct" ).sortable({
		      //connectWith: ".renamelevelcontainer",
		    	items: "> .dragable" ,
		      placeholder: "ui-state-highlight",
		      update: function( event, ui ) {
			      	
					if(event.timeStamp == prevEvent){
						return null;
					}
					
					prevEvent = event.timeStamp;	
					var newRankings_array = $('#listAllProduct').sortable('toArray');
					var orderSet = [];
					$.each(newRankings_array, function( index, value){
				      	orderSet.push(value.replace("productcontainer_",""));
				    });
				    var order2Push = JSON.stringify(orderSet);
				  	
				  	$.ajaxSetup({
					  	headers: {
							    'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
						}
					});

				  	  //multiple reorder 
					  	$.ajax({
					      type: "PATCH",
					      url: "/admin/"+"<%= I18n.locale.to_s %>"+"/brproducts/"+orderSet[0]+"/multiple_reorder",
					      data: { brproduct: {  reorderset: orderSet } },
					      success: function(data){
						   //alert ("success");
	   					  	console.log("================ brproducts reorder PATCH successfully end =============");
					        return false   
					      },
					      error: function(data){
						    //alert ("faild");
					        console.log("================ brproducts reorder has some issues ==================");
					        return false  
					      }
					    });

		      }
		    });
		    
			    
		    $( "#listAllProduct" ).disableSelection();
		  });  
		//################################ product reorder end #######################################
</script>

