<%= form_for(@admin,:url => admin_admin_path, :html => {:id =>'EditAdminForm' , :method => "PATCH"} ) do | f |%>
  <header>
      <h2>Edit profile</h2>      
    </header>
    <article>              
        <div class="form">
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="12%">姓名：</td>
              <td width="36%"><%= f.text_field :name, class: 'text' %></td>
              <td width="4%">&nbsp;</td>
              <td width="12%">Email：</td>
              <td width="36%">
              	<%= f.text_field :email, class: 'text' %>
              </td>
            </tr>
            <tr>
              <td>新密碼：</td>
              <td><%= f.password_field :password, class: 'text' , placeholder: '不變更可不輸入' %></td>
              <td>&nbsp;</td>
              <td>確認密碼：</td>
              <td><%= f.password_field :password_confirmation, class: 'text' , placeholder: '不變更可不輸入' %></td>
            </tr>
            <tr>
              <td>超級管理員：</td>
              <td>
              	<% if @admin.superadmin == 1 %>
              		<%= f.label "是" %>
            		<% else %>
            			<%= "否" %>
            		<% end %>
            	</td>
              <td>&nbsp;</td>
              <td>權限等級：</td>
              <td>
	              <%= f.label @admin.accessLevel %>
              </td>
            </tr>

          </table>
        </div>
		<% end %>
		
      <div class="button">
      	<% if @admin.superadmin == 1 %>
	      	<a href=<%= admin_admins_path %> class="left" ><img src="/images/left.png">返回</a>
      	<% else %>
	      	<a href=<%= admin_hqlevel_path(Hqlevel.return_root_node_on_demand("zh_TW"), :locale => "zh_TW" ) %> class="left" ><img src="/images/left.png">返回</a>
      	<% end %>
      	<a class='right highlight'  onclick= "$('#EditAdminForm').submit()">變更</a>
      </div>
    <!--button--> 
