<header>
        <h2 class="left">最新消息</h2>
        <nav class="left"></nav>
</header>
<article>
    <div class="button"><a href="<%= new_admin_announcement_path %>" class="right highlight" >新增文章<img src="/images/add.png"></a></div>

        <div class="list">
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
          	<% @announcements.each do | announce | %>
            <tr>
              <td width="64%"><a href="<%= edit_admin_announcement_path(announce)%>"><%= announce.title %></a></td>
              <td width="18%" align="right"><%= announce.updated_at.strftime("%Y年%m月%d日") %></td>
              <td width="18%">
              	<div class="tool">
              		 <a class="edit" title="編輯" href='<%= edit_admin_announcement_path(announce)%>'></a>
              		 <%= link_to '', admin_announcement_path(announce.id), method: :delete, data: { confirm: 'Are you sure?' }, class: 'delete',title: "刪除" %>
              	</div>
              </td>
            </tr>
            <% end %>
        </table>
	    </div>
               		
</article>


