<script src="/js/jquery.colorbox-min.js"></script>
<script src="/js/jquery.colorbox-zh-TW.js"></script>

<script src="/js/editor.js"></script>
<script src="/js/editor_p.js"></script>
<script src="/js/editor_img.js"></script>
<script src="/js/editor_list.js"></script>
<script src="/js/editor_video.js"></script>
<script src="/js/jquery.imgareaselect.min.js"></script>

<link rel="stylesheet" type="text/css" href="/css/imgareaselect-default.css" />
<link rel="stylesheet" type="text/css" href="/css/colorbox.css" />	   	
<style>
.form .upload
{
	width: 100%;
}
/*列表*/
#post-list li{padding:5px 0 0 20px;background:url(/images/p.png) 0 center no-repeat;cursor:pointer}
#post-list .text{border:1px solid #ddd}

#post-list img{position:relative;top:2px;margin:0 10px 0 0}
#post-list .tool{opacity:0;filter:alpha(opacity=0)}
#post-list .tool a{display:inline-block;width:16px;height:16px;background-position:center center;background-repeat:no-repeat;cursor:pointer;margin:7px 0 0 15px;text-indent:-9999px}
#post-list li:hover .tool,
#post-list .tool a:hover{opacity:1;filter:alpha(opacity=100)}
#post-list .delete{background-image:url(/images/cancel.png)}
#post-list .addlist{background:#eee;display:inline-block;padding:5px 0;width:100px;text-align:center;color:#999;margin:0 0 0 20px}
#post-list .addlist:hover{background:#ddd}

</style>
<script>
$(function(){	
	var _showTab = 0;
	var $defaultLi = $('.tab li').eq(_showTab).addClass('active');
	$($defaultLi.find('a').attr('href')).siblings().hide();
 	$('.tab li').click(function() {		
		var $this = $(this),
			_clickTab = $this.find('a').attr('href');		
		$this.addClass('active').siblings('.active').removeClass('active');		
		$(_clickTab).stop(false, true).fadeIn().siblings().hide(); 
		return false;
		}).find('a').focus(function(){
			this.blur();
	});
});
</script>

<header>
	<h2 class="left">產品介紹 <span>/ 集團角度</span></h2>
	<nav class="left"></nav>
</header>

<article>
	<div class="hgroup">
			<h3>
			<% @breadcrumb.reverse.each_with_index do | bread, index | %>
			 	<%= bread.name if index == 0 %>
			 	<% if index == 1 %>
				 	<span>/<%= bread.name %></span>
			 	<% end %>
			<% end %>
			</h3>
	</div>
		    <p class="notice"><%= notice %></p>
		    <p class="alert"><%= alert %></p>
<div class="form">
	
	<table width="100%" border="0" cellspacing="0" cellpadding="0">
		 <tr>
          <td width="10%">產品名稱：</td>
          <td width="90%">
	          <%= form_for(@hqproduct, url: admin_hqproduct_path(@hqproduct, locale: I18n.locale) , method: "PATCH", :multipart => true, html: { id: "patchthisproduct" } ) do |f| %>

			    <p class="alert"><%= alert %></p>

          	<%= f.text_field :name, placeholder: '請輸入產品標題', class: 'text'  %>
          </td>
        </tr>

        <tr>
          <td>連絡業務：</td>
          <td>
          		<%= f.select :organization_id, @Orgs.map {|org| [org.org_name,org.id] }, {:include_blank => '- 請選擇工廠 -' } %>
            </td>
        </tr>

				<tr>
          <td>前台顯示：</td>
          <td><%= f.check_box :hide , { class: 'checkbox'  }, 0, 1 %> 是</td>
        </tr>
        <% if current_admin == true %>
    		<tr>
          <td>陸廠編輯：</td>
          <td><%= f.check_box :accessLevel , { class: 'checkbox'  }, 1, 2 %> 是</td>
        </tr>
        <% end %>
  </table>
  </div>
	<%= fields_for @hqproduct.article do | a | %>
		<%= a.hidden_field :content, {:id => 'hqproduct_content'} %>
	<% end %>
 <% end %>

 		  		<!-- add another form for uploading attachment BEGIN-->  	
		<div id="attach_form_container">
			<div id="createNewAttach" >
				<%= form_for(@hqproduct,url: create_attachment_admin_hqproduct_path(@hqproduct, locale: I18n.locale) , :html => {:id =>'ajaxNewAttachlForm' , :method => "patch", :remote => true} ) do |fattach| %>
			  <div class='errors'></div>
				    <div class="form">
			          <table width="100%" border="0" cellspacing="0" cellpadding="0">
			            <tr>
			              <td width='7%'>名稱：</td>
		  	              <td width='29%'><%= text_field_tag :filename, nil , placeholder: '自訂附件名稱', class: 'text' %></td>
		  	              <td width='2%'>&nbsp;</td>
			              <td width="7%">檔案：</td>
			              <td width="55%"><%= file_field_tag :attachment , class: 'file' %></td>
			            </tr>
			          </table>
			        </div>
			</div>
		</div>
		<div class='button'>
			<%= fattach.submit '上傳' , class: 'right highlight' ,style: 'width:125px' %>
		</div>
		<% end %>		<!--form end-->
	  	  
	  <%= render 'attachList' %>  		
	  
	  <%= render  'admin/peditor/editor' %>
	  		
	<div class="button"> 
		<a href="javascript: document.getElementById('patchthisproduct').submit();" class="right highlight" data-no-turbolink = true >儲存<img src="<%= image_path("save.png") %>"></a>
		 <a href="<%= admin_hqlevel_path(@hqproduct.hqlevel_id, locale: I18n.locale) %>" class="left" data-no-turbolink = true ><img src="<%= image_path("left.png") %>">返回</a> 
	 </div>

	<div style="display:none">	    
		    <div id="previewContainer">
			    <h2>請在圖片上拖拉以完成您要的截圖範圍</h2>
		    </div>
	</div>

</article>

<script type="text/javascript">

	var hold = false;
	
	$(document).ready(function(){

	var originalClose = $.colorbox.close;
	
	$.colorbox.close = function(){
		if (hold) {			
		  if ( confirm( '確定放棄圖片裁切？這將會刪除您的圖片。' )) {
		  	hold = false;
		  	
		  	editor.img.reset();
		  	
		    originalClose();
		  } 
		} else {
			originalClose();
		}
	 }

	 	editor.init({ articleModel: 'hqproduct', photoUpload: '../../peditor/<%= @hqproduct.article.id %>/createPhoto',p_selectList: ["paragraphFontClass"],linkedp: true });


		$("#submit").click(function(e){
			e.preventDefault();

			if(!editor.isPostNotSent()){
				$("#edit_article_<%= @hqproduct.article.id %>").submit();
			}
			else{
				editor.alert("段落編輯尚未完成。", "error");
			}
		
			$('#articleContent').bind('peditor_updated', function() {
				$('#main').height('inherit')
			})
		
		});
	
	});

		
		//show create new level inputs
		$( "#createAnAttachbutton" ).mouseup(function() {
		  //$( "#createNewAttach" ).toggle();
		  if($( "#createNewAttach" ).is(":visible") == true){
			$('[_height=auto]').height($('[_height=auto]').height()+100);	  
		  }else{
			$('[_height=auto]').height($('[_height=auto]').height()-100);	    
		  }
		  
		
		});
		//hide create new level inputs
		$( "#cancelAnAttachbutton" ).mouseup(function() {
		  //$( "#createNewAttach" ).toggle();
		  $('[_height=auto]').height($('[_height=auto]').height()-100);
		});
		
		//ajax:success on NewLevel action
		$("#ajaxNewAttachlForm").on('ajax:success',function(evt, data, status, xhr) {
			//alert("ajaxsuccess");
		    var $this = $(this);
		
		    $("#filename").val('');
		    $this.find('.errors').empty();
			//$("#createNewAttach").toggle();
			//height
			var main = $('section article');
 
		     if (main.length <= 0) 
		     {
		      return false;
		      
		     } else if ( main.length > 0 ) {
		      
		      var max = 0;
		      var main_block;
		      
		      main.each(function() {
		       if ( $(this).height() > max ) {
		        main_block = $(this);
		        max = main_block.height();
		       }
		      });
		      
		      main = main_block;
		     }
		     // new - nav = diff 
		     // modify diff + avg quote
			
			$('[_height=auto]').height(main.innerHeight()-100);
			
			//
		});
		//ajax:error on NewLevel action
		$("#ajaxNewAttachlForm").on('ajax:error',function(evt, data, status, xhr) {
			//alert("ajaxerror");
		    var responseObject = $.parseJSON(xhr.responseText),
		        errors = $('<ul />');
		        
		        //alert("ERROR with="+JSON.stringify(responseObject));
		
		    $.each(responseObject, function(){
		      errors.append('<li>' + this + '</li>');
		    })
		
		    errors.appendTo($(this).find('.errors'));
		    //height
			var main = $('section article');
 
		     if (main.length <= 0) 
		     {
		      return false;
		      
		     } else if ( main.length > 0 ) {
		      
		      var max = 0;
		      var main_block;
		      
		      main.each(function() {
		       if ( $(this).height() > max ) {
		        main_block = $(this);
		        max = main_block.height();
		       }
		      });
		      
		      main = main_block;
		     }
		     // new - nav = diff 
		     // modify diff + avg quote
			
			$('[_height=auto]').height(main.innerHeight()-100);
		});
		
		//################################ attachment reorder begin #######################################
		$(function() {
			var prevEvent = null;
		    $( "#listThisAttach" ).sortable({
		      //connectWith: ".renamelevelcontainer",
		      placeholder: "ui-state-highlight",
		      update: function( event, ui ) {
			      	
					if(event.timeStamp == prevEvent){
						return null;
					}
					
					prevEvent = event.timeStamp;	
					var newRankings_array = $('#listThisAttach').sortable('toArray');
					var orderSet = [];
					$.each(newRankings_array, function( index, value){
				      	orderSet.push(value.replace("createAttachcontainer_",""));
				    });
				    var order2Push = JSON.stringify(orderSet);
				  	
				  	$.ajaxSetup({
					  	headers: {
							    'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
						}
					});

				  	  //multiple reorder 
					  	$.ajax({
					      type: "PATCH",
					      url: "/admin/attachments/"+orderSet[0]+"/multiple_reorder",
					      data: { attachment: {  reorderset: orderSet } },
					      success: function(data){
						   //alert ("success");
	   					  	console.log("================ hqproducts reorder PATCH successfully end =============");
					        return false   
					      },
					      error: function(data){
						    //alert ("faild");
					        console.log("================ hqproducts reorder has some issues ==================");
					        return false  
					      }
					    });

		      }
		    });
		    
			    
		    $( "#listThisAttach" ).disableSelection();
		  });  
		//################################ attachment reorder end #######################################
</script>

