	<article>
		<div class="hgroup">
		  <h3 class="left"><%= @annualreport.fiscal_year %> 年<span>/ <%= @annualreport.fiscal_year + 1911 %> 年</span></h3>
		</div>
    <% if @annualreport.attachments.count < 1 %>
  			<div class="form">
				<%= form_for(@annualreport,:url => admin_annualreport_path(@annualreport.id), :html => {:multipart => true ,:method => "patch", :id => 'createNewFiscalAttachForm' } ) do |f| %>
					  <% if @annualreport.errors.any? %>
					    <div id="error_explanation">
					      <h2><%= pluralize(@annualreport.errors.count, "error") %> prohibited this annualreport from being saved:</h2>
					
					      <ul>
					      <% @annualreport.errors.full_messages.each do |msg| %>
					        <li><%= msg %></li>
					      <% end %>
					      </ul>
					    </div>
					  <% end %>
						  <table width="100%" border="0" cellspacing="0" cellpadding="0">
						    <tr>
						      <td width="7%">年度：</td>
						      <td width="29%"><%= text_field_tag :filename , nil, :placeholder => "顯示名稱" %></td>
						      <td width="2%">&nbsp;</td>
						      <td width="7%">檔案：</td>
						      <td width="55%"><%= file_field_tag :attachment , class: 'file' %></td>
						      <%= f.hidden_field :fiscal_year %>
						    </tr>
						  </table>
				</div>
				
				<div class="button"> 
					<a href="#" onclick= "$('#createNewFiscalAttachForm').submit();" class="right highlight">新增<img src="/images/add_file.png"></a>
					<% if @annualreport.attachments.count <= 0 %>
						<a href=<%= admin_annualreports_path %> class="left" ><img src="/images/left.png">返回</a>
					<% end %>
					
				</div>		
				<!--form-->
				<% end %>		
	  <% else %>
		  上傳附件已達上限,共 <%= "#{@annualreport.attachments.count} 筆"%> <br>
	  <% end %>
	<div class="list">		
		<table id="mainAttachList" width="100%" border="0" cellspacing="0" cellpadding="0">
	    <tbody id="listAllAttach">
  			<% @annualreport.attachments.each do |attach| %>
		    	<tr <%= "id=attachcontainer_#{attach.id.to_s}" %> class="attachcontainer" >
		    	
	    			<td width="6%"><img src="/images/file.png"></td>
			      <td width="12%"><%= attach.file_name %></td>
			      <td width="64%"><%= (attach.file_size.to_i)/1000 %>KB @ [<%= attach.updated_at.in_time_zone("Taipei") %> 上傳] </td>
			      <td width="18%">
			      	<div class="tool">
			      		<%= link_to '', admin_attachment_path(attach.id), method: :delete, data: { confirm: 'Are you sure?' }, class: "delete", title:"刪除" %>
			      	 </div>
			      </td>
			    </tr>
		    <% end %>	
	    </tbody>    
		</table>
	</div>

	<% if @annualreport.attachments.count > 0 %>
		<div class="button">
				<a href=<%= admin_annualreports_path %> class="left" ><img src="/images/left.png">返回</a>
		</div>
	<% end %>

</article>

<script>

		$(function() {
			var prevEvent = null;
		    $( "#listAllAttach" ).sortable({
		      //connectWith: ".renamelevelcontainer",
		      placeholder: "ui-state-highlight",
		      update: function( event, ui ) {
			      	
					if(event.timeStamp == prevEvent){
						return null;
					}
					
					prevEvent = event.timeStamp;	
					var newRankings_array = $('#listAllAttach').sortable('toArray');
					var orderSet = [];
					$.each(newRankings_array, function( index, value){
				      	orderSet.push(value.replace("attachcontainer_",""));
				    });
				    var order2Push = JSON.stringify(orderSet);
				  	
				  	$.ajaxSetup({
					  	headers: {
							    'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
						}
					});

				  	  //multiple reorder 
					  	$.ajax({
					      type: "PATCH",
					      url: "/admin/annualreports/"+orderSet[0]+"/multiple_reorder",
					      data: { annualreport: {  reorderset: orderSet } },
					      success: function(data){
						   //alert ("success");
	   					  	console.log("================ attachments reorder PATCH successfully end =============");
					        return false   
					      },
					      error: function(data){
						    //alert ("faild");
					        console.log("================ attachments reorder has some issues ==================");
					        return false  
					      }
					    });

		      }
		    });
		    
			    
		    $( "#listAllAttach" ).disableSelection();
		  });  
</script>
