<script>
$(function(){	
	var _showTab = 0;
	var $defaultLi = $('.tab li').eq(_showTab).addClass('active');
	$($defaultLi.find('a').attr('href')).siblings().hide();
 	$('.tab li').click(function() {		
		var $this = $(this),
			_clickTab = $this.find('a').attr('href');		
		$this.addClass('active').siblings('.active').removeClass('active');		
		$(_clickTab).stop(false, true).fadeIn().siblings().hide(); 
		return false;
		}).find('a').focus(function(){
			this.blur();
	});
});
</script>
<style>
div ,td, p .noTransition {
    -moz-transition: none;
    -webkit-transition: none;
    -o-transition: color 0 ease-in;
    transition: none;
}
</style>
	<header>
        <h2 class="left">業務管理</h2>
        <nav class="left">
        <% Hqlevel.full_house.each do | lang | %>
        		<%= link_to t("env.language.#{lang.locale}"), admin_organizations_path(locale: lang.locale ), 'data-no-turbolink' => true %>
        <% end %>
			目前語系：<%=t( "env.language.#{I18n.locale}") %>
        </nav>
	</header>
	
	<article>
        <div class="hgroup">
          <h3>工廠資料</h3>
        </div>
        <p><%= flash[:notice] %></p>
        <div class="form">
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
	           <%= form_for(@organization,:url => admin_organization_path(@organization.id, :locale=> I18n.locale), :html => { id: 'orgAttrUpdateForm',:method =>  "PATCH"} ) do |f| %>
		            <tr>							       
									
											<td width="7%">廠名：</td>
				              <td width="29%"><%= f.text_field :org_name, class: 'text' %></td>
				              <td width="2%">&nbsp;</td>
				              <td width="7%">地址：</td>
				              <td width="55%"><%= f.text_field :address, class: 'text' %></td>
             
							   </tr>
							   <tr>
							   			<td width="7%">陸廠：</td>
							   			<td width="29%">
								   			<%= f.check_box :accessLevel , { class: 'checkbox'  }, 1, 2 %> 是
							   			</td>
							   </tr>
    				<% end %>
      </table>
    </div>

        <div class="hgroup">
          <h3 class="left">業務列表</h3>
        </div>
        
         <% if @representatives.count < 4 %>
         	<p id="notice"><%= flash[:newreperror] %></p>
	        
	        <div id="input_form_container">
				<div id="createNewRep">
					<div class="form">
					      <%= form_for(@newRep,:url => admin_representatives_path, :html => { :multipart => true, :method => 'post' , :id=> 'ajaxNewRepForm' }, locale: I18n.locale , :remote => true ) do |f| %> <!-- , :remote => true -->
					          <table width="100%" border="0" cellspacing="0" cellpadding="0">
					            <tr>
					              <td width="8%" align="center" valign="middle">部門：</td>
					              <td width="24%" valign="top"><%= f.text_field :division, class: 'text' %></td>
					              <td width="10%" align="center" valign="middle">電話：</td>
					              <td width="24%" valign="top"><%= f.text_field :phone, class: 'text' %></td>
					              <td width="10%" align="center" valign="middle">傳真：</td>
					              <td width="24%" valign="top"><%= f.text_field :fax, class: 'text' %></td>
					            </tr>
					            <tr>
					              <td align="center" valign="middle">姓名：</td>
					              <td valign="top">    <%= f.text_field :name, class: 'text' %></td>
					              <td align="center" valign="middle"> Email：</td>
					              <td colspan="3" valign="top"><%= f.text_field :email, class: 'text' %></td>
					              <%= f.hidden_field :organization_id, :value => params[:id] %>
					            </tr>
					          </table>
					      <% end %>
					</div>	
				</div>
			</div>
	        <div class="button">
	        	<a href='javascript: void(0)' id="createARepbutton" class="right highlight"  onclick="$('#ajaxNewRepForm').submit();" >新增業務<img src="/images/add.png"></a>
	        	
	        </div>
      	 <% end %> 
      	
        <div id="listAllRepresentatives" class="noTransition preview">
        	<% @representatives.each do | person | %>
        	 <div class="form dragable" style="margin: 0 0 30px 0;" <%= "id=dragablecontainer_#{person.id.to_s}" %> >
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="6%" valign="top"><img src="/images/admin.png"></td>
                <td width="20%" valign="top"><b><%= person.division%></b><br>
                  <%= person.name%> </td>
                <td width="56%" valign="top"><%= person.phone%><br>
                  <%= person.fax%><br>
                  <%= person.email%></td>
                <td width="18%" valign="top">
                	<div class="tool">
                		<%= link_to '', admin_representative_path(person,:locale => I18n.locale), method: :delete, class: 'delete', title: '刪除', data: { confirm: 'Are you sure?' } %>
                  </div>
                </td>
              </tr>
            </table>
          </div>
          <% end %>
        </div>

	    <div class="button">
	    	<a href="<%= admin_organizations_path(locale: I18n.locale )%>" class="left"><img src="/images/left.png">返回</a>
	    	<a href="javascript: void(0)" onclick="$('#orgAttrUpdateForm').submit();" class="right highlight" >儲存<img src="/images/save.png"></a>
	<article>
	<script>
	$("#ajaxNewRepForm").on('ajax:error',function(evt, data, status, xhr) {
			//alert("ajaxerror");
		    var responseObject = $.parseJSON(data.responseText);
		    
		     var response  = '';
//		    alert("ERROR with="+JSON.stringify(responseObject));
		    $.each(responseObject, function(){
		      response = response + this.toString();
		    });
		    
		    alert(response);
		});
	</script>
  <script type="text/javascript">
    //################################ org reorder begin #######################################
    $(function() {
      var prevEvent = null;
      $( "#listAllRepresentatives" ).sortable({
        //connectWith: ".renamelevelcontainer",
        items: "> .dragable" ,
        placeholder: "space",
        update: function( event, ui ) {

          if(event.timeStamp == prevEvent){
            return null;
          }

          prevEvent = event.timeStamp;  
          var newRankings_array = $('#listAllRepresentatives').sortable('toArray');
          var orderSet = [];
          $.each(newRankings_array, function( index, value){
            orderSet.push(value.replace("dragablecontainer_",""));
          });
          var order2Push = JSON.stringify(orderSet);
          //console.log(order2Push);    
          $.ajaxSetup({
            headers: {
              'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
            }
          });

            //multiple reorder 
            $.ajax({
              type: "PATCH",
              url: "/admin/"+"<%= I18n.locale.to_s %>"+"/representatives/"+orderSet[0]+"/multiple_reorder",
              data: { representative: {  reorderset: orderSet } },
              success: function(data){
                //alert ("success");
                //console.log("================ representatives reorder PATCH successfully end =============");
                return false   
              },
              error: function(data){
                //alert ("faild");
                console.log("================ representatives reorder has some issues ==================");
                return false  
              }
            });

          }
        });


        $( "#listAllRepresentatives" ).disableSelection();
    });  
    //################################ org reorder end #######################################
    </script>