<ul>
<li style='display: inline;'><%= link_to "12月", editbymonth_admin_monthlyrevenuereport_path(fiscal_month: 12)  %></li>
<li style='display: inline;'><%= link_to "11月", editbymonth_admin_monthlyrevenuereport_path(fiscal_month: 11) %></li>
<li style='display: inline;'><%= link_to "10月", editbymonth_admin_monthlyrevenuereport_path(id: params[:id], fiscal_month: 10) %></li>
<li style='display: inline;'><%= link_to "9月", editbymonth_admin_monthlyrevenuereport_path(id: params[:id], fiscal_month: 9) %></li>
<li style='display: inline;'><%= link_to "8月", editbymonth_admin_monthlyrevenuereport_path(id: params[:id], fiscal_month: 8) %></li>
<li style='display: inline;'><%= link_to "7月", editbymonth_admin_monthlyrevenuereport_path(id: params[:id], fiscal_month: 7) %></li>
<li style='display: inline;'><%= link_to "6月", editbymonth_admin_monthlyrevenuereport_path(id: params[:id], fiscal_month: 6) %></li>
<li style='display: inline;'><%= link_to "5月", editbymonth_admin_monthlyrevenuereport_path(id: params[:id], fiscal_month: 5) %></li>
<li style='display: inline;'><%= link_to "4月", editbymonth_admin_monthlyrevenuereport_path(id: params[:id], fiscal_month: 4) %></li>
<li style='display: inline;'><%= link_to "3月", editbymonth_admin_monthlyrevenuereport_path(id: params[:id], fiscal_month: 3) %></li>
<li style='display: inline;'><%= link_to "2月", editbymonth_admin_monthlyrevenuereport_path(id: params[:id], fiscal_month: 2) %></li>
<li style='display: inline;'><%= link_to "1月", editbymonth_admin_monthlyrevenuereport_path(id: params[:id], fiscal_month: 1) %></li>
</ul>