<tr <%= "id=createAttachcontainer_#{latestAttach.id.to_s}" %> class="renamelevelcontainer" >
	<td width="6%"><img src="/images/file.png"></td>
	<td width="12%"><%= link_to latestAttach.file_name, latestAttach.attachment.url%></td>
  <td width="64%"><%= (latestAttach.file_size.to_i)/1000 %>KB @ [<%= latestAttach.updated_at.in_time_zone("Taipei") %> 上傳] </td>
	<td width="18%">
		<div class="tool">
			<%= link_to '', admin_attachment_path(latestAttach.id), method: :delete, data: { confirm: 'Are you sure?' }, class: 'delete', title: '刪除' %>
		</div>
	</td>
</tr>
