<link rel="stylesheet" href="/css/front/contact.css">
<style>
article h2{background:url(<%= t("env.img_url.ct-05") %>) center 0 no-repeat}
</style>
<article>
    <h2>聯合國物資採購監管中心臺灣中心介紹</h2>
    <section>
      <div id="plant-box">

        <% @organizations.each do | org | %>
        <div class="plant">
        	<table width="100%" border="0" cellspacing="0" cellpadding="0">
						  <tr>
								  <td width="34%" align="left" valign="top"><h3><%= org.org_name%></h3>
		              <%= org.address%>
		              </td>
							    <td width="66%" align="left" valign="top">
									    <div class="card-box">
										    		<% org.representatives.each do | rep |%>
								              	<div class="card">
										              	<h4><%= rep.division %></h4>
																		<%= rep.name %><br>
																		<%= simple_format("電話：#{rep.phone}<br>") unless rep.phone.blank? %>
																		<%= simple_format("傳真：#{rep.fax}<br>") unless rep.fax.blank? %>
																		<%= simple_format("手機：#{rep.mobile}<br>") unless rep.mobile.blank? %>
                                    <%= "Email：" unless rep.email.blank? %>
                                    <% if !rep.email.blank? %> 
                                      <a href="mailto:<%= rep.email%>" target="_blank"><%= rep.email%></a>
                                    <% end %>
																</div>  
														<% end %>
		                </div>
							    </td>
						  </tr>
						</table>
					</div>
					<% end %>
        
      </div>
    </section>
  </article>