<script src="/js/editor.js"></script>
<script src="/js/editor_p.js"></script>
<script src="/js/editor_img.js"></script>
<script src="/js/editor_list.js"></script>
<script src="/js/editor_video.js"></script>

<link rel="stylesheet" type="text/css" href="/css/imgareaselect-default.css" />

<h3><%= selectitem.name %></h3>

<div class="content"  id="articleContent"></div>    

<% if @attachments.count > 0 %>
附件：<br>

	<% @attachments.each do |attach| %>
	<div class='attach_file'>
		<%= link_to attach.file_name, attach.attachment.url%>[<%= (attach.file_size.to_i)/1000 %>KB] 
	</div>
	<% end %>
	
<% end %>
</div>


<!--text-->


<!--button-->
    

<input id="article_content" style="display:none;" type="text" value="<%= selectitem.article.content %>">
	<% if !@contact_org.nil? %>
	<div id="contact">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
			  <tr>
			    <td width="4%" valign="top">&nbsp;</td>
			    <td width="58%" valign="top">
			    <h5><%= @contact_org.org_name %></h5>
			    <%= @contact_org.address %><br>
			    <br>
			    <a href="/pages/plant" id="link"></a></td>
			    	<td width="38%" valign="top">
			    	  <% @sales.each do |rep| %>
				    	  <b><%= rep.division %></b><br>
								<%= rep.name %><br>
								<%= simple_format("電話：#{rep.phone}<br>") unless rep.phone.blank? %>
								<%= simple_format("傳真：#{rep.fax}<br>") unless rep.fax.blank? %>
								<%= simple_format("手機：#{rep.mobile}<br>") unless rep.mobile.blank? %>
		            <%= "Email：" unless rep.email.blank? %>
		            <% if !rep.email.blank? %> 
		              <a href="mailto:<%= rep.email%>" target="_blank"><%= rep.email%></a><br>
		            <% end %>		    	  
					    <% end %>
				    </td>			    
			  </tr>
		</table>
    </div>
    <% end %>
<script type="text/javascript">

/*
$(function () { 	
	editor.output(); 
});
*/



		editor.output();	




</script>
