<!doctype html>
<html>
<head>
<!--[if lt IE 9]>
<script src="js/html5.js"></script>
<![endif]-->
<meta name="Robots" content="index,follow"/>
<meta http-equiv="content-language" content="zh-TW" charset="utf-8"/>
<meta name="keywords" content=""/>
<title>台一國際股份有限公司│TAI-I ELECTRIC WIRE & CABLE</title>
<meta name="description" content=""/>
<meta property="og:title" content=""/>
<meta property="og:description" content=""/>
<meta property="og:type" content="website"/>
<meta property="og:url" content=""/>
<meta property="og:image" content="">
<link rel="image_src" href="">
<link rel="shortcut icon" href=""/>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
<link rel="stylesheet" href="/css/front/reset.css">
<link rel="stylesheet" href="/css/front/style.css">

  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  
  <%= csrf_meta_tags %>

</head>
<body >
<div id="wrapper" >
  <header _height="none">
    <div id="top">
      <div class="main">
        <h1><a href="<%= root_path %>">台一國際</a></h1>
        
        <div id="lang">
            <%= link_to t("env.language.zh_TW"), set_locale_path( locale: "zh_TW" ), 'data-no-turbolink' => true %>
            <span> │ </span>
            <%= link_to t("env.language.zh_CN"), set_locale_path( locale: "zh_CN" ), 'data-no-turbolink' => true %>
            <span> │ </span>
            <%= link_to t("env.language.en"), "http://www3.tai-i-int.com.tw/Eg/default.htm" , 'data-no-turbolink' => true, target: "_blank" %>

		        <%# Hqlevel.full_house.each_with_index do | lang, index | %>
		        		<%# link_to t("env.language.#{lang.locale}"), set_locale_path( locale: lang.locale ), 'data-no-turbolink' => true %>
		        		<%# if index != 3 %><!-- <span> │ </span> --><%# end %>
		        <%# end %>
        </div>
        
        <div id="search">

          <%= render 'search/search_form'%>
        	
        </div>
      </div>
    </div>
    <nav>
      <div class="main" _height="auto">
       		<%= link_to t("layout.about"), page_pages_path("about-intro")%>
       		<%= link_to t("layout.plant"), page_pages_path("plant")%>
		      <%= link_to t("layout.product"), hqlevel_path(Hqlevel.return_root_node_on_demand(I18n.locale), :locale => I18n.locale ) %>
		      <%= link_to t("layout.investors"), investor_investors_path("investors-info") %>
       		<%= link_to t("layout.hr"), page_pages_path("human-taiwan-1")%>
		      <%= link_to t("layout.contact"), contactus_path %>
      </div>
    </nav>
    <% if request.original_url == root_url %>
			<div id="banner"> </div>
		<% end %>
  </header>
  
		<%= yield %>
		
		<footer>
        <a href="#top">TOP</a>
		    <div class="main"> <%= t("layout.copyright") %></div>
		</footer>
</div>
</body>
</html>
